.btn-default{
    color:#ffffff;
    background-color:#0977de;
    border-color:#ffffff;
    margin-top: -5px;
}

 #dropdownMenu1{
    color:#0977de;
    background-color:#ffffff;
    border-color:#d3e0e9;
    margin-top: -5px;
}

#dropdownMenu1.active, #dropdownMenu1:active, #dropdownMenu1:hover, .open>#dropdownMenu1.dropdown-toggle {
    background-color: #d4d4d4;
    border-color: #8c8c8c;
}

.btn-default.active, .btn-default:active, .btn-default:hover, .open>.btn-default.dropdown-toggle {
    color: #ffffff;
    background-color: #da4a0d;
    border-color: #da4a0d;
}
.btn-primary.focus, .btn-primary:focus {
    color: #fff;
    background-color: #da4a0d;
    border-color:#0977de;
}

.btn-link{
    color:#0977de;
}
.btn-link:focus, .btn-link:hover {
    color:#0977de;
    text-decoration: underline;
    background-color: transparent;
}

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover
{
    background-color:#0977de;
    border-color:#0977de;
}
.panel-default>.panel-heading {
    color: #333;
    background-color: #f5f8fa;
    border-color: #d3e0e9;
}

.panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.panel-default {
    border-color: #ddd;
}

div.title-heading {
    border-bottom: 1px solid#0977de;
    height: 39px;
    position: relative;
    padding: 0 10px;
    margin-bottom: 5px;
}
.panel-heading h1 {
    font-size: 30px;
    line-height: 100%;
    color:#0977de;
    height: 30px;
    padding-right: 45px;
    position: absolute;
    top: 1px;
    left: 0;
    font-weight: bold;
    background: #f5f5f5;
    margin-top: 10px;

}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #FFF;
    background-color:#0977de;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    color: #FFF;
    background-color:#0977de;
}

.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus, .dropdown-submenu:hover>a, .dropdown-submenu:focus>a {
    color: #fff;
    text-decoration: none;
    background-color:#0977de;
}

.dropdown-menu > li > a {
    color:#0977de;
}
.navbar-default .navbar-nav > li > a {
    color:#0977de;
}
a {
    color:#0977de;
}
.btn-primary {
    color: #fff;
    background-color:#0977de;
    border-color: #DA6012;
}

.btn-primary.active, .btn-primary:active, .btn-primary:hover, .open>.btn-primary.dropdown-toggle{
    background-color: #da4a0d !important;
    color: #fff;
    border-color: #DA6012 !important;
}
.btn btn-danger{
    background-color: red;
}
a:focus, a:hover {
    color: #da4a0d;
}
.navbar-default .navbar-brand {
    color:#0977de;
}
#footer_text{
    padding-bottom: 50px;

}

.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
    color: #0977de;
    background-color: transparent;
}
a:hover, a:focus {
    color: #0977de;
    text-decoration: none;
}
a {
    color:#0977de;
    text-decoration: none;
}
.btn-danger {
    color: #fff;
    background-color: #bf5329;
    border-color: #aa4a24;
}

/**
/ i am glad to remind you that i have beed comleted my one year in mobio solution today ,
 as per my offer later i will be given appraisel after one year of my date of joining.
 */


