/* CSS Document */
header, section, footer, aside, nav, main, article, figure {
    display: block;
}
.container{
	width:964px;
	max-width:100%;
	margin:0px auto;
}
.navbar-right {
    float: right !important;
    margin-right: 0px;
}
.row {
    margin-left: 0;
    margin-right: 0px;
}
.navbar-nav > li > a{
	padding-bottom: 13px;
    padding-top: 7px;
}
footer{
	background-color:#525252;
}
.header-mid > li > a:hover{
	background:none;
	display:block;
}
.header-left > li > a:hover{
	background:none;
	display:block;
}


.navbar-brand{
	padding-top: 0px;
}
.navbar-brand {
    float: left;
    font-size: 18px;
    height: 40px;
    line-height: 20px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
}
.navbar{
	border-radius:0px;
	min-height:41px;
}
.header-top{
	background-color:#ea6212;
}

.header-left {
    background-color: #fa9b4b;
    float: right;
    text-align: right;
	padding-bottom:11px;
}	
.header-mid li  a{
	font-family: Arial,Helvetica,sans-serif;
	text-transform:uppercase;
	font-size:14px;
	color:#fff;
	margin-left:10px;
	font-weight:bold;
}
#first-id{
	background-color:#c5c5c5;
}

.applicationsDisplay {
    background-color: #fff;
    float: left;
    height: 300px;
    margin-left: 7px;
    text-align: center;
	margin-top:15px;
	margin-bottom:15px;
}

.applicationsDisplay {
    text-align: center;
}
.applications-picto {
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: -44px;
}
.applications-title {
    font-family: Arial;
    font-size: 18px;
    font-weight: bold;
    margin-top: 60px;
    text-transform: uppercase;
}
.applications-resume {
    font-family: Arial;
    font-size: 14px;
    font-weight: bold;
    margin-left: 2px;
    margin-right: 2px;
    margin-top: 25px;
    text-align: center;
}
.applications-description {
    font-family: Arial;
    font-size: 14px;
    height: 28px;
    line-height: 20px;
    margin-top: 10px;
    text-align: center;
}

.applications-bouton {
    font-family: Arial;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    padding-bottom: 13px;
    padding-left: 0;
    padding-right: 0;
    padding-top: 13px;
    text-align: center;
    text-transform: uppercase;
    width: 175px;
}
.background-Orange {
    background-color: #ea7825;
}
.Blanc {
    color: #fff;
}
.applications-lien {
    font-family: Arial;
    font-size: 12px;
    font-weight: normal;
}
.applications-lien a {
    text-decoration-color: currentcolor;
    text-decoration-line: underline;
    text-decoration-style: solid;
}
.image-ico{
	font-size:24px;
	color:#fff;
	margin-top:5px;
}
.bottom-first,.bottom-second,.bottom-third,.bottom-fourth{
  border-bottom-left-radius: 90px;
  border-bottom-right-radius: 90px;
   height: 45px;
  width: 90px;
  left: 54px;
  position: relative;
  top: 44px;
}
.bottom-first{
 background:#ea7825;
}
.bottom-second{
  background:#00a5b9;
}.bottom-third{
  background:#ffb008;
}.bottom-fourth{
  background:#ff7379;
}
.top-tab-border-fourth{
	border-top:5px solid #ff7379;
}
.top-tab-border-third{
	border-top:5px solid #ffb008;
}
.top-tab-border-second{
	border-top:5px solid #00a5b9;
}
.top-tab-border-first{
	border-top:5px solid #ea7825;
}
.title1{
	color:#ea7825 !important;
}
.title2{
	color:#00a5b9 !important;
}
.title3{
	color:#ffb008 !important;
}
.title4{
	color:#ff7379 !important;
}
.button-first {
    background-color: #ea7825;
}.button-second{
    background-color: #00a5b9;
}.button-third {
    background-color: #ffb008;
}.button-fourth {
    background-color: #ff7379;
}
.applicationsDisplay:hover{
	 background-color: #ea7825;
}
#second-tab:hover{
	 background-color: #00a5b9 !important;
}
#third-tab:hover{
	 background-color: #ffb008 !important;
}
#fourth-tab:hover{
	 background-color: #ff7379 !important;
}
.applicationsDisplay:hover .button-first ,#second-tab:hover .button-second  ,#third-tab:hover .button-third , #fourth-tab:hover .button-fourth{
	 background-color: #fff;
}
.Blanc {
    color: #fff;
}
.applicationsDisplay:hover .Blanc  {
	 color: #ea7825;
}
#second-tab:hover .Blanc  {
	 color: #00a5b9;
}
#third-tab:hover .Blanc  {
	 color: #ffb008;
}
#fourth-tab:hover .Blanc  {
	 color: #ff7379;
}
.applicationsDisplay:hover  .title1 , #second-tab:hover .title2 , #third-tab:hover .title3 ,#fourth-tab:hover .title4{
	color:#fff !important;
}
 .top-tab-border-first:hover ,  .top-tab-border-second:hover , .top-tab-border-third:hover , .top-tab-border-fourth:hover{
	border-top:5px solid #fff;
}
.applicationsDisplay:hover .bottom-first,  #second-tab:hover .bottom-second, #third-tab:hover .bottom-third , #fourth-tab:hover .bottom-fourth{
	background:#fff;
}
.applicationsDisplay:hover  .image-ico{
	color:#ea7825;
}
 #second-tab:hover  .image-ico{
	color:#00a5b9;
}
 #third-tab:hover  .image-ico{
	color:#ffb008;
}
 #fourth-tab:hover  .image-ico{
	color:#ff7379;
}
.applicationsDisplay:hover .applications-title, .applicationsDisplay:hover .applications-description , .applicationsDisplay:hover .applications-lien a {
 color:#fff;
}

.boutonNav {
    background-color: #ea6212;
    color: white;
    cursor: pointer;
    float: left;
    font-family: Arial;
    font-size: 14px;
    font-weight: bold;
    margin-left: -188px;
    margin-top: 26px;
    opacity: 0.8;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    position: absolute;
    vertical-align: middle;
    width: 150px;
    z-index: 999;
}
.boutonNav a{
	color:#fff;
}
.footer-left li{
	display:inline;
}
.footer-left li a{
	color:#fff;
	float:left;
	margin-top:15px;
	margin-left:20px;
}
.footer-left li a span{
	margin-left:10px;
}

.separator {
    border-left-color: #fff;
    border-left-style: solid;
    border-left-width: 1px;
	height: 19px;
	margin-top:10px;
	margin-left:0px;
}
.separator:first-child{
	 border-left-color: none;
}
 
.navbar{
	margin-bottom:0px;
}
.tooltip .tooltip-inner {
    background-color:#fa9b4b;
}
.tooltip.bottom .tooltip-arrow{
    border-bottom-color:#fa9b4b;
}

 .header-mid li , .header-left li {
    float: left;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    margin-bottom: 0;
    margin-left: 3px;
    margin-right: 0;
    margin-top: 0;
}
.seprator-height {
    height: 18px;
    margin-top: 11px;
}
.header-mid li a, .header-left li a {
    background-repeat: no-repeat;
    color: #fff;
    display: block;
    font-size: 12px;
    height: 27px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    vertical-align: middle;
	font-weight:bold;
	 text-decoration-color: currentcolor;
    text-decoration-line: none;
    text-decoration-style: solid;
}
.header-mid li:hover div hr {
    display: block;
    margin-bottom: 0;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: -10px;
}
hr{
	 border-top-width: 2px;
}
.footer-link{
	text-align:center;
	margin-top:10px;
	margin-bottom:10px;
}
.footer-link a{
	color:#6f6f6f;
	font-weight:bold;
}


/* Responsive Css */


@media only screen and (min-width:320px) and (max-width:767px){
	.bottom-first, .bottom-second, .bottom-third, .bottom-fourth{
		left:85px;
	}
	.header-mid li:hover div hr {
    display: none;
}
.navbar-right{
	 margin-left: 10px;
}
.header-left {
    background-color: #fa9b4b;
    float: left;
    padding-bottom: 11px;
    text-align: left;
}
.navbar-right {
    margin-right: 0;
	float: left !important;
}
.navbar-brand{
	margin-left:10px;
}
.pull-right{
	float:left !important;
    margin-bottom: 15px;
    margin-left: 60px;
    margin-right: auto;
    margin-top: 15px;
}
hr{
	 border-top-width: 0px;
}
}
@media only screen and (min-width:360px) and (max-width:767px){
	.bottom-first, .bottom-second, .bottom-third, .bottom-fourth{
		left:105px;
	}
}
@media only screen and (min-width:480px) and (max-width:767px){
	.bottom-first, .bottom-second, .bottom-third, .bottom-fourth{
		left:140px;
	}
}
@media only screen and (min-width:768px) and (max-width:960px){
	.bottom-first, .bottom-second, .bottom-third, .bottom-fourth{
		left:116px;
	}
	.header-mid li a{
		padding-left: 0px;
    padding-right: 5px;
	}
}
@media only screen and (min-width:980px) and (max-width:991px){
	.bottom-first, .bottom-second, .bottom-third, .bottom-fourth{
		left:128px;
	}
}