@font-face {
    font-family: 'btp_icons';
    src:url('/public/css/fonts/btp_icons.eot');
    src: url('/public/css/fonts/btp_icons.eot') format('embedded-opentype'),
    url('/public/css/fonts/btp_icons.woff2') format('woff2'),
    url('/public/css/fonts/btp_icons.woff') format('woff'),
    url('/public/css/fonts/btp_icons.ttf') format('truetype'),
    url('/public/css/fonts/btp_icons.svg#btp_icons') format('svg');
}



/*================== Default CSS Start ==================*/
body {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    color: #444444;
    line-height: normal;
    font-weight: 400;
    background: #f4f8f9;
}

/*
.md-container{
    width:1370px;
    max-width: 100%;
    margin: 0 auto;
    padding:0 15px;
}*/
.container {
    max-width: 100%;
    margin: 0px auto;
    width: 1170px;
    padding: 0 15px;
}

.container-fluid {
    width: 1920px;
    max-width: 100%;
    margin: 0px auto;
    padding: 0 15px;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0px;
    color: #0e2d4f;
}

p {
    margin: 6px 0;
    padding: 0px;
    line-height: 25px;
}

ul, li {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

img {
    vertical-align: middle;
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
    transition: all 0.6s ease 0s;
    -webkit-transition: all 0.6s ease 0s;
    -moz-transition: all 0.6s ease 0s;
    -ms-transition: all 0.6s ease 0s;
    -o-transition: all 0.6s ease 0s;
}

a:hover, a:focus {
    text-decoration: none;
    outline: none;
}

/*input[type="submit"], input[type="reset"], input[type="text"], input[type="button"], input[type="search"], input[type="url"], input[type="tel"], input[type="email"], input[type="password"], textarea, select {
    -moz-appearance: none;
   !*-webkit-appearance: none !important;*!
}

!*input::-webkit-placeholder {
    opacity: 1;
    color: #444444;
}*!

input::-moz-placeholder, textarea::-moz-placeholder {
    opacity: 1;
    color: #444444;
}

input:-ms-input-placeholder {
    opacity: 1;
    color: #444444;
}

::-webkit-input-placeholder {
    opacity: 1;
    color: #444444;
}

:-moz-placeholder {
    opacity: 1;
    color: #444444;
}

:-ms-input-placeholder {
    opacity: 1;
    color: #444444;
}

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

input[type="checkbox"] {
    -webkit-appearance: checkbox;
    border-radius: 0;
}

input[type="radio"] {
    -webkit-appearance: radio;
    border-radius: 0;
}

input {
    -webkit-border-radius: 0;
    border-radius: 0;
    box-shadow: none;
}*/

/*::-o-placeholder {
    color: #444444;
    opacity: 1;
}

::-webkit-textarea-placeholder {
    color: #444444;
    opacity: 1;
}*/

textarea:-moz-placeholder {
    color: #444444;
    opacity: 1;
}

textarea::-moz-placeholder {
    color: #444444;
    opacity: 1;
}

/*:-ms-textarea-placeholder {
    color: #444444;
    opacity: 1;
}

:-o-textarea-placeholder {
    color: #444444;
    opacity: 1;
}*/

/*================== Default CSS End ==================*/
.navbar-default {
    background: #00a3b4;
}

.nal-image ul li a {
    text-align: center;
}

.navbar-inverse {
    background-color: #222;
    border-bottom-color: #080808;
    border-left-color: #080808;
    border-right-color: #080808;
    border-top-color: #080808;
}

.navbar {
    border-radius: 0px;
    margin-bottom: 0px;
}

.navbar-brand {
    padding-top: 8px;
}
.first-text {
    background: #ffffff;
    border: 1px solid #c5c5c5;
    padding: 10px;
    border-radius: 6px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.first-text p{
    text-align: center;
}
#accordion1{
   /* margin-top: 20px;*/
    border-radius: 10px;
}
.navbar-inverse {
    background-color: #ffffff;
    border: 0px solid #c5c5c5;
}

.pro-bg-img {
    background-image: url(../images/bg1.png);
    padding: 50px;
    background-repeat: no-repeat;
    background-size: cover;
}

.pro-bg-img h1{
    color: #000000;
    font-size: 37px;
    padding: 30px 0px;
    text-align: center;
}

.tabbable-panel {
    border: 1px solid #eee;
    padding: 10px;
}

/* Default mode */
.tabbable-line > .nav-tabs {
    border: none;
    margin: 0px;
}

.tabbable-line > .nav-tabs > li {
    margin-right: 3px;
}

.tabbable-line > .nav-tabs > li > a {
    border: 0;
    margin-right: 0;
    color:#ffffff;
}

.tabbable-line > .nav-tabs > li > a > i {
    color: #ffffff;
}

/*.tabbable-line > .nav-tabs > li.open, .tabbable-line > .nav-tabs > li:hover {

}*/

.tabbable-line > .nav-tabs > li.open > a, .tabbable-line > .nav-tabs > li:hover > a {
    border: 0;
    background: none !important;
    color: #333333;
}

.tabbable-line > .nav-tabs > li.open > a > i, .tabbable-line > .nav-tabs > li:hover > a > i {
    color: #333333;
}

.tabbable-line > .nav-tabs > li.open .dropdown-menu, .tabbable-line > .nav-tabs > li:hover .dropdown-menu {
    margin-top: 0px;
}



.tabbable-line > .tab-content {
    margin-top: -3px;
    background-color: #fff;
    border: 0;
    border-top: 1px solid #eee;
    padding: 15px 0;
}

.portlet .tabbable-line > .tab-content {
    padding-bottom: 0;
}
.tab-content{
    margin-top: 20px;
}

.badge {
    background: #f57d23;
    font-size: 15px;
}

.panel-heading .accordion-toggle:after {
    content: "\f107";
    float: right;
    color: grey;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    /*--adjust as necessary--*/
    color: #155389;
    font-size: 18px;
    padding-right: 0.5em;
    position: absolute;
    top: 18px;
    right: 42px;
}
.panel-heading{
    padding: 20px;
}
#community.panel-heading{
    padding: 7px 0px;
}
.panel-heading .accordion-toggle.collapsed:after {
    content: "\f107";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;

    color: #155389;
    font-size: 18px;
    padding-right: 0.5em;
    position: absolute;
    top: 18px;
    right: 42px;
}

#collapseOne .panel-body ul li {
    list-style-type: decimal;
    padding: 8px 8px;
}

#collapseOne .panel-body {
    padding: 10px 30px;
}
.star-bookmark{
    position: absolute;
    right: 80px;
    font-size: 22px !important;
}
.star-bookmark-a{
    position: absolute;
    right: 30px;
    font-size: 22px !important;
}
.star-bookmark-b{
    position: absolute;
    right: 80px;
    font-size: 22px !important;
}
.category-name{
    display: block;
    max-width: 80%;
    overflow: hidden;
    text-overflow: ellipsis;
}
.resource_heading{
    font-weight: normal;
    color:#155389;
}
/*.collapse-ul li:after {
    content: "\f006";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    color: #000;
    font-size: 18px;
    padding-right: 0.5em;
    float: right;
    cursor: pointer;
}*/

.nal-image ul {
    padding-top: 20px;
}

.navbar-fixed-side .navbar-nav > li > a {
    border-bottom: 0px;
}

.nal-image span {
    color: #fff;
}

.nal-image i {
    color: #ffffff;
}

.head li:first-child {
    background: #00a3b4;
    border-radius: 4px;
}
.user-profile ul li:first-child{
    background-color: transparent !important;
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    color: #262626;
    text-decoration: none;
    background-color: #00a3b4;
}


.head li i {
    color: #ffffff;
    font-size: 25px;
}
.head{
    padding: 10px 0px;
}
.head li:last-child i {
    color: #000;
    font-size: 25px;
}
.navbar-nav > li > a {
    padding-bottom: 10px;
    padding-top: 10px;
}
.tabbable-panel {
    margin: 0px auto;
    text-align: center;
    border-radius: 4px;
    width: 444px;
    max-width: 100%;
    border: none;
    background-color: rgba(0, 163, 180, 0.8);
}
.navbar-fixed-side .navbar-nav > li > a {
    border-bottom-color: #e7e7e7;
    border-bottom-style: solid;
    border-bottom-width: 0px !important;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover {
    background-color: #33b5c3 !important;

}
.navbar-fixed-side .navbar-nav > li > a:hover, .navbar-fixed-side .navbar-nav > li > a:focus, .navbar-fixed-side .navbar-nav .dropdown-menu > li > a:hover,
.navbar-fixed-side .navbar-nav .dropdown-menu > li > a:focus{
    background-color: #33b5c3 !important;
}
.text_heading{
    font-weight: 600;
    color: #155389;
}
.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
    color: #000000;
    background-color: transparent;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus{
    background: none;
    color:#000000;
}

/*For Login Page css Start*/

.btn-flt{
    float: left;
    margin-left: 20px;
    position: absolute;
    top:35%;
}
.bg h1{
    margin-top:0px;
    margin-left: 40px;
    padding-bottom: 20px;
}
.bg p{
    margin-left: 40px;
    padding-bottom: 25px;
}
.bg {
    /* The image used */
    background-image: url(../images/background_img.jpg);

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.btn-lg{
    margin-left: 30px;
}
#button1{
    width: 200px;
    height: 43px;
    border-radius: 25px;
    background-color: #f57d23;
    border: 0px;
    font-size: inherit;
    color: #ffffff;

}
.company-logo img{
    margin-top: 40px;
    margin-left: 60px;
}
#button2{
    width: 200px;
    height: 40px;
    border-radius: 25px;
    background-color: #00a3b4;
    font-size: inherit;
    border: 0px;
    color: #ffffff;
}
.modal-header{
    background-color: #00a3b4;
}
.modal-title{
    color: #ffffff;
}
#myModal .modal-header {
    background-color: #f57d23;
}
#myModal p {
    margin: 9px 0;
    font-family: normal;
}
.modal-footer{
border:none;
}
/* #button_content{
     padding-top: 22%;
     padding-right:35%;
 }*/

body, html {
    height: 100%;
    margin: 0;
}

/*For Login Page css End*/

/* Tabe 3 Default css Start*/

.category-tab li:first-child{
    margin-left: 0px;
}
.category-tab li a {
    font-weight: normal;
    color:#3c709d;
}

.category-tab li a span:first-child {
   /* font-size: 27px;*/
    font-weight: normal;
}

.dum span{
    margin-left: 20px;
}

.resource-pad{
    padding-bottom: 30px;
}
.resources h3{
    margin-bottom: 20px;
    margin-top: 20px;
    font-weight: bold;
    margin-left: 10px;
}
#tab_default_3 .panel-heading .accordion-toggle::after{
    color: #000;
    content: "\f107";
    float: right;
    font-family: FontAwesome;
    font-size: 18px;
    font-style: normal;
    font-weight: normal;
    padding-right: 0.5em;
    position: absolute;
    right: 41px;
    text-decoration-color: inherit;
    text-decoration-line: inherit;
    text-decoration-style: inherit;
    top: 20px;
}
#tab_default_3 .panel-default{
    border: none;
}
#tab_default_3 .panel-heading {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
}
.dum:first-child{
    border-top: 3px solid #f2f5f7;
}
.dum i{
    margin-left: 20px;
}
.dum{
    border-bottom: 3px solid #f2f5f7;
    padding: 10px 0px;
}

#tab_default_3 .panel-default > .panel-heading {
    background-color: #fff;
}
#tab_default_3 .panel-group .panel-heading + .panel-collapse > .list-group,#tab_default_3 .panel-group .panel-heading + .panel-collapse > .panel-body {
    border-top-style: solid;
    border-top-width: 0;
}
#tab_default_3 h3{
    color: #155389;
}

.resource-tab{
    margin-top: 25px;
}
.resource-pad .panel-body {
    padding: 0px 30px;
}
/* Tabe 3 Default css Ends*/


#search_box {
    width: 360px;
    box-sizing: border-box;
    font-size: 16px;
    border: none;
    background-color: white;
    background-image: url('../images/searchicon.png');
    background-position: 10px 15px;
    background-repeat: no-repeat;
    margin-top: 0px;
    margin-left: 300px;
    padding: 12px 20px 12px 40px;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #cccccc;
}

/*user List Css Started*/
.btn_ajtr a{
    padding: 10px 30px;
    background: #00a3b4;
    width: 100%;
    font-size: 13px;
    color: #ffffff;
    border-radius: 2px;
}
.mon-li li{
    display: inline-flex;
}
.mon-li li:last-child{
    margin-left: 40px;
}
h1{
    font-size: 38px;
    font-weight: normal;
}
.mon-li{
    margin-top: 20px;
    margin-bottom: 7px;
}
.username_mon{
    background: #ffffff;
    border-radius: 6px;
    padding: 20px 20px 1px 20px;
    margin-top: 30px;
}
.username_mon_index{
    background: #ffffff;
    border-radius: 6px;
    padding: 20px 20px 20px 20px;
    margin-top: 30px;
}
.username_mon_rect{
    background: #ffffff;
    border-radius: 6px;
    padding: 24px 20px 28px 17px;
    margin-top: 30px;
}
.username_mon_rect_last{
    background: #ffffff;
    border-radius: 6px;
    padding: 8px 20px 7px 17px;
    margin-top: 30px;
}

.username_mon i{
    font-size: 70px;
}
.Commentaires{
    padding: 5px;
    margin-left: -14px;
}
.module-border{
    border: 2px solid #F5F3F3;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: 0px;
    margin-top:6px;
}
.module-border-index{
    border: 2px solid #F5F3F3;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: 0px;
    margin-top:20px;
}
.denniel-border{
    border-top: 0px;
    border: 2px solid #F5F3F3;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    text-align: center;
}
.Modules{
    border-right:2px solid #F5F3F3;
    margin-left: 4px;
    padding: 5px;
}
.icon li{
    display: inline;
    float: right;
    margin-left: 20px;
    margin-top: 10px;
}
.icon li i{
    font-size: 20px;
    color: #1eaebd;
}
.user i{
    margin-top: 15px;
}
.adress div h4{
    color: #323c47;
    font-weight: normal;
    display: block;
    width: 200px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 17px;
}
.adress div:nth-child(2){

    display: block;
    width: 200px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.adress div:nth-child(2){
    color: #abafb4;
    padding-bottom: 4px;
    padding-top: 6px;
    font-size: 11px;
}
.adress div:nth-child(3){
    color: #f57f27;
    padding-bottom: 6px;
    padding-top: 0px;
    font-size: 12px;
}
.Modules div:first-child{
    color: #586069;
    padding-bottom: 5px;
    font-size: 12px;
}
.Commentaires div:first-child{
    color: #586069;
    font-size: 12px;
    padding-bottom: 5px;
}
.Modules div > .review:first-child{
    color: #00a3b4;
    font-size: 20px;
}
.Modules .read{
    color: #dbdbdb;
    font-size: 14px;
}
.Commentaires div:nth-child(2){
    color: #00a3b4;
    font-size: 20px;
}
.denniel-border .Commentaires{
    color: #3c4650;
    padding-top: 10px;
    font-size: 12px;
}
.dennied-bor div:nth-child(2){
    color: #afaeae;
    font-size: 14px;
    padding-bottom: 10px;
}
.mon-tab{
    float: right;
}
.mon-tab .tabbable-panel{
    max-width: 180px;
    width: 100%;
    margin-top: 20px;
    background-color: #92d8df;
}
.add-membre{
    background: #92d8df;
    height: 100px;
    width: 100px;
    margin: 0px auto;
    border-radius: 50%;
    margin-top: 15px;
}
.add-mem{
    font-size: 17px;
    font-weight: normal;
    text-align: center;
}
.add-membre i{
    padding-top: 18px;
    color: #ffffff;
    font-size: 70px;
}
.username_mon_add{
    background: #ffffff;
    border-radius: 5px;
    width: 263px;
    height: 284px;
    padding: 80px 20px 80px 20px;
    margin-top: 30px;
}
/*user List Css Ended*/

/* Statique section CSS starts*/
.nombre{
    text-align: center;
    line-height: 35px;
}
.nombre div:first-child{
    color: #38424d;
    font-size: 14px;
}
.nombre div span:first-child{
    color: #02a3b4;
    font-size: 20px;
}
.nombre div span:nth-child(2){
    color: #ff7351;
    font-size: 16px;
}
.nombre div span:nth-child(3){
    color: #b6babd;
    font-size: 14px;
    margin-left: 10px;
}
.tempse span{
    color: #38424d;
    font-size: 14px;
    line-height: 17px;
}
.hour span:first-child{
    color: #00a3b4;
    font-size: 20px;
}
.hour span:last-child{
    color: #ff6d4a;
    font-size: 14px;
}

/*Statr End*/

.progress{
    width: 65px;
    height: 65px;
    line-height: 150px;
    background: none;
    margin: 0 auto;
    box-shadow: none;
    position: relative;
}
.progress:after{
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 12px solid #fff;
    position: absolute;
    top: 0;
    left: 0;
}
.progress > span{
    width: 50%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    z-index: 1;
}
.progress .progress-left{
    left: 0;
}
.progress .progress-bar{
    width: 100%;
    height: 100%;
    background: none;
    border-width: 12px;
    border-style: solid;
    position: absolute;
    top: 0;
}
.progress .progress-left .progress-bar{
    left: 100%;
    border-top-right-radius: 80px;
    border-bottom-right-radius: 80px;
    border-left: 0;
    -webkit-transform-origin: center;
    transform-origin: center;
}
.progress .progress-right{
    right: 0;
}
.progress .progress-right .progress-bar{
    left: -100%;
    border-top-left-radius: 80px;
    border-bottom-left-radius: 80px;
    border-right: 0;
    -webkit-transform-origin: center;
    transform-origin: center;
    animation: loading-1 1.8s linear forwards;
}
.progress .progress-value{
    width: 90%;
    height: 90%;
    border-radius: 50%;
    background: #ffffff;
    font-size: 20px;
    color: #00a3b4;
    line-height: 67px;
    text-align: center;
    position: absolute;
    top: 5%;
    left: 5%;
}
.progress.blue .progress-bar{
    border-color: #f57d23;
}
.progress.blue .progress-left .progress-bar{
    animation: loading-2 1.5s linear forwards 1.8s;
}

@keyframes loading-1{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }
}
@keyframes loading-2{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(144deg);
        transform: rotate(144deg);
    }
}
@keyframes loading-3{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
    }
}
@keyframes loading-4{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(36deg);
        transform: rotate(36deg);
    }
}
@keyframes loading-5{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(126deg);
        transform: rotate(126deg);
    }
}
.sidebar-head .navbar-header{
    display: none;
}
@media only screen and (max-width: 990px){
    .progress{ margin-bottom: 20px; }
}
/* Statique section CSS ends*/

/*Notification Bell css starts*/
.dropbtn {
    background-color: #00a3b4;
    color: white;
    padding: 8px;
    font-size: 16px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #00a3b4;
}

.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown .badge{
    z-index:1;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right: -55px;
    width: 300px;
    height: 530px;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {background-color: #f1f1f1}

.show {display:block;}




.drop-active li{
    border-top: 2px solid #00447e;
    border-radius: 0px !important;
    background: #ffffff !important;
}
.drop-active{
    padding: 20px 50px;
}
.orange-cir span i{
    font-size: 10px !important;
    color: #fa7537 !important;
}
.drop-active li div:first-child{
    color: #a0a0a0;
    margin-top: 20px;
}
.drop-active li div:nth-child(2){
    color: #323c47;
}
.drop-active li div:nth-child(3){
    color: #54c1cc;
}
.drop-active li div:nth-child(4){
    color: #b0b4b8;
}
.drop-active li div:last-child{
    margin-bottom: 20px;
}
.drop-active{
    background: #ffffff;
}
.head .badge{
    position: absolute;
    top: -10px;
    left: 37px;
}
/*Notification Bell css ends*/

/*Extra Dialouge starts here*/
#myModal ,#myModal1,#myModal3{
margin-top: 84px;
}
.fa_fa_color i {
  color: #808080;
}

/*Extra Dialouge ends here*/
.col-header-nopadding{
    padding:0;
}
#profile_image.form-control{
    height: auto;
}

.category-tab > li > a{
    padding: 0px 5px 0px 5px;
    margin-top: 0px;
}

/*.category-tab li a span:nth-child(2),.category-tab li a span:nth-child(3) {
    vertical-align: text-top !important;
}*/

/*Nav bar logo Starts*/

.nal-image ul > li:last-child{
    bottom: 0;
    display: block;
    position: absolute;
}
.nal-image ul > li > a > img {
    max-width: 100% !important;
}
.logo-bottom  a{
    bottom: 12px;
    display: block;
    position: absolute;
    margin-left: 12px;
    margin-right: 12px;

}
.nal-image  .nav > li > a {
    padding-left:0px !important;
    padding-right:0px !important
}
.title_logo{
    height: 50px;
    width:auto;
    margin-top: -4px;
}
/*Nav bar logo Ends*/

/*parameter dropwon starts*/

.nal-image ul li.dropdown ul.dropdown-menu{
    min-width: 100%; / Set width of the dropdown /
background: #f2f2f2;
    display: none;
    position: absolute;
    z-index: 999;
    left: 0;
}
.nal-image ul li ul.dropdown-menu li{
    display: block;
}
.nal-image ul ul {
    padding-top: 0px;
    border-bottom-width: 0px !important;
}
.nal-image ul ul li a{
    color:#ffffff !important;
}
.nal-image ul ul  > li:last-child {
    bottom: 0px;
    display: block;
    position: relative;
}
.nal-image ul ul   > li > a{
    padding:10px 0px !important;
}
.nal-image .dropdown::after{
    color: #fff;
    content: "\f0d7";
    float: right;
    font-family: FontAwesome;
    font-size: 18px;
    font-style: normal;
    font-weight: normal;
    padding-right: 0.5em;
    position: absolute;
    right: 0px;
    top: 11px;
}
/*parameter dropwon ends*/

/*Right Sidebar Starts*/
.side-btn {
    background-color: #00a3b4;
    color: white;
    padding-bottom: 10px;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 12px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}
.text-badge span:first-child{
    font-size:20px;
    color:#286192;
    margin-left:20px;
}
.text-badge span:last-child{
    font-size:18px;
    color:#c5c5c5;
    margin-left:20px;
}
.side-btn i{
    font-size:20px;
}
.left-bar .navbar-default{
    background-color:#ffffff;
    padding:10px;
    bottom: 0;
    position: relative;
    top: 0;
}
.side-btn span{
    left: 38px;
    position: absolute;
    top: 10px;
}
.lft-con ul{
    padding:20px !important;
}
.left-text div{
    display:inline-block;
}
.side-btn{
    margin-top:10px;
    float:left;
}
.dropbtn:hover, .dropbtn:focus {
    background-color: #00a3b4;
}
.header-bottom{
    height: 58px;
}
/*Right Sidebar Ends*/


/* REsponsive Css Starts */
@media only screen and (min-width: 320px) and (max-width: 767px){
    .logo-bottom{
        display: none !important;
    }
    .left-bar{
        display: none !important;
    }
    .username_mon_add{
        margin-bottom: 30px;
    }
    .nal-image ul li.dropdown ul.dropdown-menu{
        background-color: #00a3b4;
    }
    .col-xs-offset-1{
        margin-left: 0px;
    }
    .navbar-brand{
        padding-top: 5px;
        padding-left: 5px;
    }
    .navbar-header{
        display: block;
    }
    .sidebar-head .navbar-header{
        display: block;
    }

    .navbar-btn-bg,.navbar-btn-bg:hover{
        background: #00a3b4 !important;
        color: #ffffff;
    }
    .responcive-toggle .dropbtn{
        padding: 8px 10px;
        border-radius: 5px;
    }
    .responcive-toggle{
        margin-top: 5px;
    }
    .dropdown a:hover {background-color: #00a3b4}
    .navbar-default .navbar-header{
        background: #ffffff;
    }
    .responcive-toggle .badge{
        font-size: 12px;
        left: 23px;
        position: absolute;
        top: -13px;
    }
    .navbar-inverse{
        display: none;
    }
    .responcive-toggle ul.dropdown-menu{
        right: 0px !important;
        position: absolute !important;
        left:auto;
    }
    .responcive-toggle{
        position: absolute;
        right: 20px;
        top: 10px;
    }
    .navbar-toggle{
        float: left;
        margin-left: 8px;
    }
    .nal-image ul{
        padding-top: 0px;
    }
    .category-tab li a span:first-child{
        display: none;
    }
    .category-tab li:first-child {
        margin-left: 0px;
    }

    *::before, *::after {
        box-sizing: border-box;
    }
    *::before, *::after {
        box-sizing: border-box;
    }
    * {
        box-sizing: border-box;
    }
    .pro-bg-img h3 {
        color: #000000;
        font-size: 20px;
        text-align: center;
    }
    .nav-tabs > li {
        float: none;
        margin-bottom: -1px;
    }
    #search_box{
        display: none;
    }
    .user{
        text-align: center;
    }
    .user img{
        width: 60px !important;
    }
    .adress div:nth-child(2){
        text-align: center;
    }
    .adress div:nth-child(3){
        text-align: center;
    }
    .adress div:first-child{
        text-align: center !important;
        width: auto;
        margin-top: 15px;
    }
    /* .mon-tab {
         float: left;
     }*/
    .btn_ajtr a{
        padding-left: 10px;
        padding-right: 10px;
        font-size: 11px;
    }
    .Commentaires{
        margin-left: 0px;
    }
    .mon-li li span {
        font-size: 13px;
    }
    #tab_default_3 .panel-heading .accordion-toggle::after{
        top:40px;
    }
    .resources h4{
        font-size: 20px;

    }
    .mon-li li:last-child {
        float: right;
    }
    .Modules div:first-child{
        text-align: center;
    }
    .Modules div:last-child{
        text-align: center;
    }
    .Commentaires div:first-child{
        text-align: center;
    }
    .Commentaires div:nth-child(2){
        text-align: center;
    }
    .Modules{
        border-right-width: 0;
        margin-left: 0px;
        border-bottom: 2px solid #c5c5c5;
    }
    .tempse{
        text-align: center;
    }
    .hour{
        text-align: center;
    }
    .progress{
        margin-top: 20px;
    }
}
@media only screen and (min-width: 480px) and (max-width: 767px){
    .category-tab{
        display: inline-flex;
    }
    /* .tabbable-panel{
         width: 470px !important;
     }*/
}
@media only screen and (min-width: 768px) and (max-width: 991px){
    .left-bar{
        display: none !important;
    }
    .adress div:nth-child(2){
        text-align: center;
    }
    #search_box{
        margin-left:190px;
    }
    .adress div:nth-child(3){
        text-align: center;
    }
    .adress div:first-child{
        text-align: center !important;
        width: auto;
        margin-top: 15px;
    }
    .tempse{
        text-align: center;
    }
    .hour{
        text-align: center;
    }
    .Modules div:first-child{
        text-align: center;
    }
    .Modules div:last-child{
        text-align: center;
    }
    .Commentaires div:first-child{
        text-align: center;
    }
    .Commentaires div:nth-child(2){
        text-align: center;
    }
    .Modules{
        border-right-width: 0;
        margin-left: 0px;
        border-bottom: 2px solid #c5c5c5;
    }
    .Commentaires{
        margin-left: 0px;
    }
    .pro-bg-img{
        padding: 50px 0px ;
    }
    .user{
        text-align: center;
    }
    .user img{
        width: 60px !important;
    }
}
@media only screen and (min-width: 992px){
    .btn_ajtr a{
        padding-left: 10px;
        padding-right: 10px;
    }
    .user img{
        width: 60px !important;
        max-width: none !important;
    }
    #search_box{
        margin-left:370px;
    }
}

/*REsponsive Css Ends*/

#header-notification{
    display: none;
}

/* Detail page CSS Starts*/
label.error{color: #FF0000;}
.childli{
    width: 68px;
    display: inline-block;
    height: 18px;
    background: #ececec;
    margin-right: 0px;
    border-bottom: 3px solid rgba(0,0,0,.25);
}
.childli:hover{background: #D8D8D8}
.steps .fa.fa-circle.fa-stack-2x{
    color: #B4B4B4;
}
.steps .fa.fa-circle.fa-stack-2x:hover{
    color: #d34215;
}
.steps ul{
    padding:0px;
    margin: 0px;
}
.clearfix{
    padding: 0px;
}
.stepline{

}

.input-group label{
    margin-left: 10px;
}

.stepline {
    margin-top: 18px;
}
.summary p{
    font-size: 1.5rem;
    line-height: 1.5;
    color: rgba(0,0,0,.85);
    margin-bottom: 15px;}

.containttestform .panel-default > .panel-heading {
    border-color: #00a3b4 ;
    background: #00a3b4;
    border-radius:0px;
    color: #fff;
    font-size: 18px;
}
.fa.fa-map-marker.fa-stack-1x.fa-inverse,.fa.fa-flag.fa-stack-1x.fa-inverse{
    border-radius: 50%;
    background:#b4b4b4;
}
.fa.fa-map-marker.fa-stack-1x.fa-inverse:hover{
    background: #00a3b4;
}
.fa.fa-flag.fa-stack-1x.fa-inverse:hover{background: #00a3b4;}
.category_name{

}
.containttestform .panel-heading{
    font-size: 16px;
    font-weight: bold;

}
.containttestform .form-horizontal .control-label{
    padding-top: 0px;
}
.containttestform .panel-default{
    border:none;
}
.containttestform .panel-body{
    background-color: #f8f8f8;
    border-color: transparent;
    padding-top: 2.5em;
}
.containttestform .form-control {
    border-radius:0px !important;

}
.addcomment .form-control {
    border-radius:0px !important;
}
.containttestform .form-control:focus{
    border-color: #00a3b4;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(118, 147, 234, 0.58);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(118, 147, 234, 0.58);
}
.form-group{font-size: 16px;}
.addcomment{margin-bottom: 3em}
.addcomment .form-control:focus{
    border-color: #00a3b4;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(118, 147, 234, 0.58);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(118, 147, 234, 0.58);
}
.addcomment .btn-primary,.containttestform .btn-primary{ background-color:#00a3b4; color: #fff; border-radius: 0px; border-color:#00a3b4; }
.containttestform .btn-primary:hover{background:rgba(118, 147, 234, 0.58)}
.containttestform .input-group label{ font-weight: 600;font-size: 16px; }
.addcomment .btn-primary:hover {
    background-color: #f57d23;
    border-color: transparent;
}
.right {float:right;	}
.finalanswers label{margin-bottom: 20px;}
.fa.fa-check-circle.fa-lg.fa-fw{color: #2cce2e;}
.fa.fa-times-circle.fa-lg.fa-fw{color: red;}
.quizmark span{margin-right: 10px;}
.quizmark label{}
.ansoption{margin-bottom: 25px; line-height: 2;}
.youroint{text-align: right; font-size: 20px;}
.youroints .pts {color: #00a3b4;font-weight:700; font-size:20px; text-align: left; }
.ansoption p{line-height: 1.2;}

/*font Awesome http://fontawesome.io*/

/*Comment List styles*/
.comment-list .row {
    margin-bottom: 0px;
}
.comment-list .panel .panel-heading {
    padding: 4px 15px;
    position: absolute;
    border:none;
    /*Panel-heading border radius*/
    border-top-right-radius:0px;
    top: 1px;
}
.comment-list .panel .panel-heading.right {
    border-right-width: 0px;
    /*Panel-heading border radius*/
    border-top-left-radius:0px;
    right: 16px;
}
.comment-list .panel .panel-heading .panel-body {
    padding-top: 6px;
}
.comment-list figcaption {
    /*For wrapping text in thumbnail*/
    word-wrap: break-word;
}
.comment-date .fa,.comment-user .fa {color: #00a3b4}
/* Portrait tablets and medium desktops */
@media (min-width: 768px) {
    .comment-list .arrow:after, .comment-list .arrow:before {
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        border-style: solid;
        border-color: transparent;
    }
    .comment-list .panel.arrow.left:after, .comment-list .panel.arrow.left:before {
        border-left: 0;
    }
    /*****Left Arrow*****/
    /*Outline effect style*/
    .comment-list .panel.arrow.left:before {
        left: 0px;
        top: 30px;
        /*Use boarder color of panel*/
        border-right-color: inherit;
        border-width: 16px;
    }
    /*Background color effect*/
    .comment-list .panel.arrow.left:after {
        left: 1px;
        top: 31px;
        /*Change for different outline color*/
        border-width: 15px;
    }
    /*****Right Arrow*****/
    /*Outline effect style*/
    .comment-list .panel.arrow.right:before {
        right: -16px;
        top: 30px;
        /*Use boarder color of panel*/
        border-left-color: inherit;
        border-width: 16px;
    }
    /*Background color effect*/
    .comment-list .panel.arrow.right:after {
        right: -14px;
        top: 31px;
        /*Change for different outline color*/
        border-left-color: #FFFFFF;
        border-width: 15px;
    }
}
.comment-list .comment-post {
    margin-top: 6px;
}
.part-title{
    color: #00a3b4;
    font-weight: 300;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    font-size: 1.8rem;
    border-top-left-radius: 5px;
    /* border-bottom: 1px solid #00a3b4; */
    margin-bottom: 10px;
    padding: 8px;
    background-color: #f8f8f8;
    /* border-top: 3px solid #bebebe; */
    /* border-bottom-right-radius: 5px; */
}
.attachement{
    text-align: center;
}
/*Detail Page Css Ends*/

#back-to-top {
    position: fixed;
    bottom: 40px;
    right: 40px;
    z-index: 9999;
    width: 32px;
    height: 32px;
    text-align: center;
    line-height: 30px;
    background: #f5f5f5;
    color: #444;
    cursor: pointer;
    border: 0;
    border-radius: 2px;
    text-decoration: none;
    transition: opacity 0.2s ease-out;
    opacity: 0;
}
#back-to-home {
    position: fixed;
    bottom: 40px;
    right: 80px;
    z-index: 9999;
    width: 55px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    background: #5e5e5e;
    color: #ffffff;
    cursor: pointer;
    border: 0;
    border-radius: 5px;
    text-decoration: none;
    transition: opacity 0.2s ease-out;
    opacity: 1;
}
#back-to-top:hover {
    background: #e9ebec;
}
#back-to-top.show {
    opacity: 1;
}
#content {
    height: 2000px;
}

.Mes-modules {
    width: 81px !important;
    height: 16px !important;
    font-size: 14px;
    text-align: left;
    color: #fff;
}
.Fill-1 {
    width: 13px !important;
    height: 13px !important;
    color: #00a3b4;
}

.tabbable-line > .nav-tabs > li.active a .Mes-modules{
    color: #00447e;
}
.tabbable-line > .nav-tabs > li.active {
    position: relative;
    width: 148px !important;
    height: 34px !important;
    border-radius: 3px;
    background-color: #ffffff;
    box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.03);
}
.tabbable-line > .nav-tabs > li {
    position: relative;
    width: 148px !important;
    height: 34px !important;
}
.tabbable-line > .nav-tabs > li:nth-child(2),.tabbable-line > .nav-tabs > li:nth-child(3){
    position: relative;
    width: 130px !important;
    height: 34px !important;
}
.tabbable-line > .nav-tabs > li.active:nth-child(2),.tabbable-line > .nav-tabs > li.active:nth-child(3) {
    position: relative;
    width: 130px !important;
    height: 34px !important;
    border-radius: 3px;
    background-color: #ffffff;
    box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.03);
}
/*

.tabbable-line > .nav-tabs > li.active > a {
    border: 0;
    color: #333333;
    border-radius: 2px;
}

.tabbable-line > .nav-tabs > li.active > a > i {
    color: #404040;
}*/

.oval-2 {
    width: 24px;
    height: 24px;
    background-color: #f67d23;
    float: right;
    border-radius: 50%;
    line-height: 27px;
    margin-top: -2px;
}
.tabbable-panel {
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 10px;
    padding-top: 5px;
}
.category-tab .Fill-1{
    color: #fff;
}
.category-tab .active .Fill-1{
    color: #00447e;
}
.category-tab > li.active > a, .category-tab > li.active > a:hover, .category-tab > li.active > a:focus{
    background-color: #fff;
    border: none !important;
    cursor: default;
}
.category-tab li:first-child a{
    margin-top: 7px;
}
.header-bottom .navbar-inverse{
    height: 58px;
}
.category-tab > li {
    float: left;
    margin-bottom: 0;
}
#accordion1 .panel-body,#accordion4 .panel-body{
    padding: 0px 15px;
}
/*
.collapse-ul li{
    padding:0px;
}*/
/*
#accordion1 .collapse-ul li{
    border-bottom: 1px solid #c5c5c5;
}*/

.collapse-ul li .row{
    border: solid 1px #e6ebf0;
    padding: 7px 0px;
    border-bottom-width: 0;
}
#side-nav-bar .navbar-fixed-side{
    width: 100px;
}
.fa-star-o {
    color: #9b9b9b;
}
.form-horizontal .control-label{
    font-weight: normal;
}
#myprofile.panel-heading{
    padding-left: 0px;
    padding-right: 0px;
}
.no-padding{
    padding: 0px;
}