@font-face {
    font-family: 'btp_icons';
    src:url('/public/css/fonts/btp_icons.eot');
    src: url('/public/css/fonts/btp_icons.eot') format('embedded-opentype'),
    url('/public/css/fonts/btp_icons.woff2') format('woff2'),
    url('/public/css/fonts/btp_icons.woff') format('woff'),
    url('/public/css/fonts/btp_icons.ttf') format('truetype'),
    url('/public/css/fonts/btp_icons.svg#btp_icons') format('svg');
}
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);/*!


/*================== Default CSS Start ==================*/
body {
   /*font-family: 'Poppins', sans-serif;*/
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    color: #444444;
    line-height: normal;
    font-weight: 500;
    background: #f4f8f9;
}

/*
.md-container{
    width:1370px;
    max-width: 100%;
    margin: 0 auto;
    padding:0 15px;
}*/
.container {
    max-width: 100%;
    margin: 0px auto;
    width: 1170px;
    padding: 0 15px;
}

.container-fluid {
    width: 1920px;
    max-width: 100%;
    margin: 0px auto;
    padding: 0 15px;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0px;
    color: #0e2d4f;
}
h1,h2,h3{

    font-family: 'Raleway', sans-serif;
}
p {
    margin: 6px 0;
    padding: 0px;
    line-height: 25px;
}

ul, li {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

img {
    vertical-align: middle;
    max-width: 100%;
    height: auto;
}

a {
    color:#00a3b4;
    text-decoration: none;
    transition: all 0.6s ease 0s;
    -webkit-transition: all 0.6s ease 0s;
    -moz-transition: all 0.6s ease 0s;
    -ms-transition: all 0.6s ease 0s;
    -o-transition: all 0.6s ease 0s;
}

a:hover, a:focus {
    text-decoration: none;
    outline: none;
}


/*input[type="submit"], input[type="reset"], input[type="text"], input[type="button"], input[type="search"], input[type="url"], input[type="tel"], input[type="email"], input[type="password"], textarea, select {
    -moz-appearance: none;
   !*-webkit-appearance: none !important;*!
}

!*input::-webkit-placeholder {
    opacity: 1;
    color: #444444;
}*!

input::-moz-placeholder, textarea::-moz-placeholder {
    opacity: 1;
    color: #444444;
}

input:-ms-input-placeholder {
    opacity: 1;
    color: #444444;
}

::-webkit-input-placeholder {
    opacity: 1;
    color: #444444;
}

:-moz-placeholder {
    opacity: 1;
    color: #444444;
}

:-ms-input-placeholder {
    opacity: 1;
    color: #444444;
}

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

input[type="checkbox"] {
    -webkit-appearance: checkbox;
    border-radius: 0;
}

input[type="radio"] {
    -webkit-appearance: radio;
    border-radius: 0;
}

input {
    -webkit-border-radius: 0;
    border-radius: 0;
    box-shadow: none;
}*/

/*::-o-placeholder {
    color: #444444;
    opacity: 1;
}

::-webkit-textarea-placeholder {
    color: #444444;
    opacity: 1;
}*/

textarea:-moz-placeholder {
    color: #444444;
    opacity: 1;
}

textarea::-moz-placeholder {
    color: #444444;
    opacity: 1;
}

/*:-ms-textarea-placeholder {
    color: #444444;
    opacity: 1;
}

:-o-textarea-placeholder {
    color: #444444;
    opacity: 1;
}*/

/*================== Default CSS End ==================*/
.navbar-default {
    background: #00a3b4;
}

.nal-image ul li a {
    text-align: center;
}

.navbar-inverse {
    background-color: #222;
    border-bottom-color: #080808;
    border-left-color: #080808;
    border-right-color: #080808;
    border-top-color: #080808;
}

.navbar {
    border-radius: 0px;
    margin-bottom: 0px;
}

.navbar-brand {
    padding-top: 8px;
}
.first-text {
    background: #ffffff;
    border: 1px solid #c5c5c5;
    padding: 10px;
    border-radius: 6px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.first-text p{
    text-align: center;
}
#accordion1{
   /* margin-top: 20px;*/
    border-radius: 10px;
}
.navbar-inverse {
    background-color: #ffffff;
    border: 0px solid #c5c5c5;
}

.pro-bg-img {
    background-image: url(../images/bg1.png);
    padding: 50px;
    background-repeat: no-repeat;
    background-size: cover;
}

.pro-bg-img h1{
    color: #000000;
    font-size: 37px;
    padding: 30px 0px;
    text-align: center;
}

.tabbable-panel {
    border: 1px solid #eee;
    padding: 10px;
}

/* Default mode */
.tabbable-line > .nav-tabs {
    border: none;
    margin: 0px;
}

.tabbable-line > .nav-tabs > li {
    margin-right: 3px;
}

.tabbable-line > .nav-tabs > li > a {
    border: 0;
    margin-right: 0;
    color:#ffffff;
}

.tabbable-line > .nav-tabs > li > a > i {
    color: #ffffff;
}

/*.tabbable-line > .nav-tabs > li.open, .tabbable-line > .nav-tabs > li:hover {

}*/

.tabbable-line > .nav-tabs > li.open > a, .tabbable-line > .nav-tabs > li:hover > a {
    border: 0;
    background: none !important;
    color: #333333;
}

.tabbable-line > .nav-tabs > li.open > a > i, .tabbable-line > .nav-tabs > li:hover > a > i {
    color: #333333;
}

.tabbable-line > .nav-tabs > li.open .dropdown-menu, .tabbable-line > .nav-tabs > li:hover .dropdown-menu {
    margin-top: 0px;
}



.tabbable-line > .tab-content {
    margin-top: -3px;
    background-color: #fff;
    border: 0;
    border-top: 1px solid #eee;
    padding: 15px 0;
}

.portlet .tabbable-line > .tab-content {
    padding-bottom: 0;
}
.tab-content{
    margin-top: 20px;
}

.badge {
    background: #f57d23;
    font-size: 15px;
}

#tab_default_1 .panel-heading .accordion-toggle:after {
    content: "\f107";
    float: right;
    color: grey;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    /*--adjust as necessary--*/
    color: #155389;
    font-size: 18px;
    padding-right: 0.5em;
    position: relative;
    top: 0px;
    right: 0px;
}

/*.panel-heading .accordion-toggle:after {
    content: "\f107";
    float: right;
    color: grey;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    !*--adjust as necessary--*!
    color: #155389;
    font-size: 18px;
    padding-right: 0.5em;
    position: absolute;
    top: 18px;
    right: 42px;
}*/
.panel-heading{
    padding: 10px;
}
#community.panel-heading{
    padding: 7px 0px;
}
/*.panel-heading .accordion-toggle.collapsed:after {
    content: "\f107";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;

    color: #155389;
    font-size: 18px;
    padding-right: 0.5em;
    position: absolute;
    top: 18px;
    right: 42px;
}*/

.panel-heading .accordion-toggle.collapsed:after {
    content: "\f107";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    color: #155389;
    font-size: 18px;
    padding-right: 0.5em;
    position: relative;
    top: 0px;
    right: 0px;
}

#collapseOne .panel-body ul li {
    list-style-type: decimal;
    padding: 8px 8px;
}

#collapseOne .panel-body {
    padding: 10px 30px;
}
.star-bookmark{
    position: relative;
    right: 0px;
    font-size: 22px !important;
}
.star-bookmark-a{
    position: relative;
    right: -24px;
    margin-left: -6px;
    font-size: 22px !important;
}
.star-bookmark-b{
    position: relative;
    right: 26px;
    float: right;
    font-size: 22px !important;
}
.category-name{
    display: block;
    max-width: 80%;
    overflow: hidden;
    text-overflow: ellipsis;
}
.resource_heading{
    font-weight: normal;
    color:#00a3b4;
    font-size: 18px;
}
.resource_heading:hover{
    color: #23527c;
}
.md-replay span:hover,.get_category span:hover{
    color: #23527c;
}
/*.collapse-ul li:after {
    content: "\f006";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    color: #000;
    font-size: 18px;
    padding-right: 0.5em;
    float: right;
    cursor: pointer;
}*/

.nal-image ul {
    padding-top: 115px;
}

.navbar-fixed-side .navbar-nav > li > a {
    border-bottom: 0px;
}

.nal-image span {
    color: #fff;
}

.nal-image i {
    color: #ffffff;
}

.head li:first-child {
    margin-top: 9px;
    margin-right: 15px;
    color: #00a3b4;
    font-size: 16px;
    /*background: #00a3b4;*/
    /*border-radius: 4px;*/
}
.user-profile ul li:first-child{
    background-color: transparent !important;
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    color: #262626;
    text-decoration: none;
    background-color: #00a3b4;
}


.head li i {
    color: #ffffff;
    font-size: 25px;
}
.head{
    padding: 10px 0px;
}
.head li:last-child i {
    color: #000;
    font-size: 25px;
}
.navbar-nav > li > a {
    padding-bottom: 10px;
    padding-top: 10px;
}
.tabbable-panel {
    margin: 0px auto;
    text-align: center;
    border-radius: 4px;
    width: 444px;
    max-width: 100%;
    border: none;
    background-color: rgba(0, 163, 180, 0.8);
}
.navbar-fixed-side .navbar-nav > li > a {
    border-bottom-color: #e7e7e7;
    border-bottom-style: solid;
    border-bottom-width: 0px !important;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover {
    background-color: #33b5c3 !important;

}
.navbar-fixed-side .navbar-nav > li > a:hover, .navbar-fixed-side .navbar-nav > li > a:focus, .navbar-fixed-side .navbar-nav .dropdown-menu > li > a:hover,
.navbar-fixed-side .navbar-nav .dropdown-menu > li > a:focus{
    background-color: #33b5c3 !important;
}
.text_heading{
    font-weight: 500;
    color:#00a3b4;
}
.star_bookmark{
    color:#00a3b4;
}
.get_category{
    color:#00a3b4;
}
.text_heading:hover{
    color: #23527c;
}
.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
    color: #000000;
    background-color: transparent;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus{
    background: none;
    color:#000000;
}

/*For Login Page css Start*/

.btn-flt{
    float: left;
    margin-left: 20px;
    position: absolute;
    top:35%;
}
.bg h1{
    margin-top:0px;
    margin-left: 40px;
    padding-bottom: 20px;
}
.bg p{
    margin-left: 40px;
    padding-bottom: 25px;
}
.bg {
    /* The image used */
    background-image: url(../images/background_img.jpg);

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.btn-lg{
    margin-left: 42px;
}
#button1{
    width: 225px;
    height: 40px;
    border-radius: 25px;
    background-color: #f57d23;
    border: 0px;
    font-size: inherit;
    color: #ffffff;

}
.company-logo img{
    margin-top: 40px;
    margin-left: 60px;
}
#button2{
    width: 225px;
    height: 40px;
    border-radius: 25px;
    background-color: #00a3b4;
    font-size: inherit;
    border: 0px;
    color: #ffffff;
}
.modal-header{
    background-color: #00a3b4;
}
.modal-title{
    color: #ffffff;
}
#myModal .modal-header {
    background-color: #f57d23;
}
#myModal p {
    margin: 9px 0;
    font-family: normal;
}
.modal-footer{
border:none;
}
/* #button_content{
     padding-top: 22%;
     padding-right:35%;
 }*/

body, html {
    height: 100%;
    margin: 0;
}
.panel-heading#change_password{
    padding-left: 0px;
    padding-right: 0px;
}
/*For Login Page css End*/

/* Tabe 3 Default css Start*/

.category-tab li:first-child{
    margin-left: 0px;
}
.category-tab li a {
    font-weight: normal;
    color:#3c709d;
}

.category-tab li a span:first-child {
   /* font-size: 27px;*/
    font-weight: normal;
}

.dum span{
    margin-left: 20px;
    color:#00a3b4;

}

.resource-pad{
    padding-bottom: 30px;
}
.resources h3{
    margin-bottom: 20px;
    margin-top: 20px;
    font-weight: bold;
    margin-left: 10px;
}
/*#tab_default_3 .panel-heading .accordion-toggle::after{
    color: #000;
    content: "\f107";
    float: right;
    font-family: FontAwesome;
    font-size: 18px;
    font-style: normal;
    font-weight: normal;
    padding-right: 0.5em;
    position: absolute;
    right: 41px;
    text-decoration-color: inherit;
    text-decoration-line: inherit;
    text-decoration-style: inherit;
    top: 20px;
}*/

#tab_default_3 .panel-heading .accordion-toggle::after{
    color: #000;
    content: "\f107";
    float: right;
    font-family: FontAwesome;
    font-size: 18px;
    font-style: normal;
    font-weight: normal;
    padding-right: 0.5em;
    position: relative;
    right: 0px;
    text-decoration-color: inherit;
    text-decoration-line: inherit;
    text-decoration-style: inherit;
    top: -20px;
}

#tab_default_3 .panel-heading .accordion-toggle.icon-toggle::after{
    content: " ";
    content: "\f106";
}
#tab_default_1 .panel-heading .accordion-toggle.icon-toggle::after{
    content: " ";
    content: "\f106";
}

/*#tab_default_3 .panel-heading .accordion-toggle::after {*/
    /*content: "\f107";*/
    /*font-family: FontAwesome;*/
    /*font-style: normal;*/
    /*font-weight: normal;*/
    /*text-decoration: inherit;*/
    /*color: #155389;*/
    /*font-size: 18px;*/
    /*padding-right: 0.5em;*/
    /*position: relative;*/
    /*top: -20px;*/
    /*right: 0px;*/
/*}*/

.get_users{
    cursor: pointer;
    color: red;
    font-size: 22px !important;
    margin-left: 10px;
}
#tab_default_3 .panel-default{
    border: none;
}
#tab_default_3 .panel-heading {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
}
.dum > first-child{
    border-bottom: 0px;
}

/*.mes-gra_1:first-child{
    border-top: 3px solid #2222;
}*/
.dum i{
    margin-left: 20px;
}
.resource-tab .panel-group{
    box-shadow: 0px 1px 1px 0px #bbb9b9;
}
.dum{
    border-bottom: 1px solid #2222;
    padding: 10px 0px;
   /* border-top:  3px solid #2222;;*/
}

#tab_default_3 .panel-default > .panel-heading {
    background-color: #fff;
    /*border: 3px solid #2222;*/
}
#tab_default_3 .panel-group .panel-heading + .panel-collapse > .list-group,#tab_default_3 .panel-group .panel-heading + .panel-collapse > .panel-body {
    border-top-style: solid;
    border-top-width: 0;
}
#tab_default_3 h3{
    color: #155389;
}

.resource-tab{
    margin-top: 25px;
}
.resource-pad .panel-body {
    padding: 0px 20px;
}
/* Tabe 3 Default css Ends*/


#search_box {
    width: 450px;
    box-sizing: border-box;
    font-size: 16px;
    margin-top: 9px;
    border: 1px solid #f5f5f5;
    background-color: white;
    background-image: url('../images/searchicon.png');
    background-position: 10px 9px;
    background-repeat: no-repeat;
    margin-left: 300px;
    padding: 6px 20px 6px 40px;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #cccccc;
}

/*user List Css Started*/
.btn_ajtr a{
    padding: 10px 30px;
    background: #00a3b4;
    width: 100%;
    font-size: 13px;
    color: #ffffff;
    border-radius: 2px;
}
.mon-li li{
    display: inline-flex;
}
.mon-li li:last-child{
    margin-left: 40px;
}
h1{
    font-size: 38px;
    font-weight: normal;
}
.mon-li{
    margin-top: 0px;
    margin-bottom: 7px;
}
.username_mon{
    background: #ffffff;
    border-radius: 6px;
    padding: 20px 20px 13px 20px;
    margin-top: 10px;
    box-shadow: 0px 1px 1px 0px #bbb9b9;
    min-height: 260px;
}
.username_mon_index{
    background: #ffffff;
    border-radius: 6px;
    padding: 20px 20px 20px 20px;
    margin-top: 30px;
    box-shadow: 0px 1px 1px 0px #bbb9b9;
    min-height: 260px;
}
.username_mon_rect{
    background: #ffffff;
    border-radius: 6px;
    padding: 24px 20px 28px 17px;
    margin-top: 15px;
    box-shadow: 0px 1px 1px 0px #bbb9b9;
}
.username_mon_rect_last{
    background: #ffffff;
    border-radius: 6px;
    padding: 8px 20px 7px 17px;
    margin-top: 15px;
    box-shadow: 0px 1px 1px 0px #bbb9b9;
}

.username_mon i{
    font-size: 70px;
}
.Commentaires{
    padding: 5px;
    margin-left: -14px;
}
.module-border{
    border: 1px solid #cccc;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: 0px;
    margin-top:20px;
}
.module-border-index{
    border: 2px solid #2222;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: 0px;
    margin-top:20px;
}
.denniel-border{
    border-top: 0px;
    border: 1px solid #cccc;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    text-align: center;
}
.Modules{
    border-right:1px solid #cccc;
    margin-left: 4px;
    padding: 5px;
}
.icon li{
    display: inline;
    float: right;
    margin-left: 20px;
    margin-top: 10px;
}
.icon li i{
    font-size: 20px;
    color: #1eaebd;
}
.user i{
    margin-top: 15px;
}
.adress div h4{
    color: #323c47;
    font-weight: normal;
    display: block;
    width: 200px;
    /*white-space: nowrap;
    text-overflow: ellipsis;
    */font-size: 17px;
    line-height: 21px;
    font-weight:600;
}
.adress div:nth-child(2){
    display: block;
    width: 200px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.adress div:nth-child(2){
    color: #abafb4;
    padding-bottom: 4px;
    padding-top: 6px;
    font-size: 11px;
    font-weight: 600;
}
.adress div:nth-child(3){
    color: #f57f27;
    font-weight: 600;
    padding-bottom: 6px;
    padding-top: 0px;
    font-size: 12px;
}
.Modules div:first-child{
    color: #586069;
    padding-bottom: 5px;
    font-size: 12px;
    font-weight: 600;
}
.Commentaires div:first-child{
    color: #586069;
    font-weight: 600;
    font-size: 12px;
    padding-bottom: 5px;
}
.Modules div > .review:first-child{
    color: #00a3b4;
    font-size: 20px;
}
.Modules .read{
    color: #b9b9bf;
    font-size: 14px;
}
.Commentaires div:nth-child(2){
    color: #00a3b4;
    font-size: 20px;
}
.denniel-border .Commentaires{
    color: #3c4650;
    padding-top: 10px;
    font-weight: 600;
    font-size: 12px;
}
.dennied-bor div:nth-child(2){
    color: #afaeae;
    font-size: 14px;
    padding-bottom: 10px;
}
.mon-tab{
    float: right;
}
.mon-tab .tabbable-panel{
    max-width: 180px;
    width: 100%;
    margin-top: 20px;
    background-color: #92d8df;
}
.add-membre{
    background: #92d8df;
    height: 100px;
    width: 100px;
    margin: 0px auto;
    border-radius: 50%;
    margin-bottom: 15px;
}
.add-mem{
    font-size: 17px;
    font-weight: normal;
    text-align: center;
}
.add-membre i{
    padding-top: 18px;
    color: #ffffff;
    font-size: 70px;
}
.username_mon_add{
    background: #ffffff;
    border-radius: 5px;
    width: 263px;
    height: 306px;
    padding: 60px 10px 0px 20px;
    margin-top: 10px;
    box-shadow: 0px 1px 1px 0px #bbb9b9;
}
/*user List Css Ended*/

/* Statique section CSS starts*/
.nombre{
    text-align: center;
    line-height: 35px;
}
.nombre div:first-child{
    color: #38424d;
    font-size: 14px;
}
.nombre div span:first-child{
    color: #02a3b4;
    font-size: 20px;
}
.nombre div span:nth-child(2){
    color: #ff7351;
    font-size: 16px;
}
.nombre div span:nth-child(3){
    color: #b6babd;
    font-size: 14px;
    margin-left: 10px;
}
.tempse span{
    color: #38424d;
    font-size: 14px;
    line-height: 17px;
}
.hour span:first-child{
    color: #00a3b4;
    font-size: 20px;
}
.hour span:last-child{
    color: #ff6d4a;
    font-size: 14px;
}

/*Statr End*/

.progress{
    width: 65px;
    height: 65px;
    line-height: 150px;
    background: none;
    margin: 0 auto;
    box-shadow: none;
    position: relative;
}
.progress:after{
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 12px solid #fff;
    position: absolute;
    top: 0;
    left: 0;
}
.progress > span{
    width: 50%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    z-index: 1;
}
.progress .progress-left{
    left: 0;
}
.progress .progress-bar{
    width: 100%;
    height: 100%;
    background: none;
    border-width: 12px;
    border-style: solid;
    position: absolute;
    top: 0;
}
.progress .progress-left .progress-bar{
    left: 100%;
    border-top-right-radius: 80px;
    border-bottom-right-radius: 80px;
    border-left: 0;
    -webkit-transform-origin: center;
    transform-origin: center;
}
.progress .progress-right{
    right: 0;
}
.progress .progress-right .progress-bar{
    left: -100%;
    border-top-left-radius: 80px;
    border-bottom-left-radius: 80px;
    border-right: 0;
    -webkit-transform-origin: center;
    transform-origin: center;
    animation: loading-1 1.8s linear forwards;
}
.progress .progress-value{
    width: 90%;
    height: 90%;
    border-radius: 50%;
    background: #ffffff;
    font-size: 20px;
    color: #00a3b4;
    line-height: 67px;
    text-align: center;
    position: absolute;
    top: 5%;
    left: 5%;
}
.progress.blue .progress-bar{
    border-color: #f57d23;
}
.progress.blue .progress-left .progress-bar{
    animation: loading-2 1.5s linear forwards 1.8s;
}

@keyframes loading-1{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }
}
@keyframes loading-2{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(144deg);
        transform: rotate(144deg);
    }
}
@keyframes loading-3{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
    }
}
@keyframes loading-4{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(36deg);
        transform: rotate(36deg);
    }
}
@keyframes loading-5{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(126deg);
        transform: rotate(126deg);
    }
}
.sidebar-head .navbar-header{
    display: none;
}
@media only screen and (max-width: 990px){
    .progress{ margin-bottom: 20px; }

}
@media only screen and (min-width: 1281px){
    #side-nav-bar .navbar-fixed-side{
        width: 150px;
    }
    .nal-image ul li.dropdown ul.dropdown-menu{
        top: 36px;
        left: 156px;
    }
    .nal-image ul li.dropdown ul.dropup-menu{
        top: 36px;
        left: 156px;
    }
}
/* Statique section CSS ends*/

/*Notification Bell css starts*/
.dropbtn {
    background-color: #00a3b4;
    color: white;
    padding: 8px;
    font-size: 16px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #00a3b4;
}

.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown .badge{
    z-index:1;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right: -55px;
    width: 300px;
    height: 530px;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {background-color: #f1f1f1}

.show {display:block;}




.drop-active li{
    //border-top: 2px solid #00447e;
    border-radius: 0px !important;
    background: #ffffff !important;
}
.drop-active{
    padding: 20px 50px;
}
.orange-cir span i{
    font-size: 10px !important;
    color: #fa7537 !important;
}
.drop-active li div:first-child{
    color: #a0a0a0;
    //margin-top: 10px;
}
.drop-active li div:nth-child(2){
    color: #323c47;
    font-size: 13px;
}
.drop-active li div:nth-child(3){
    color:#00a3b4;
}
.drop-active li div:nth-child(4){
    color: #b0b4b8;
}
.drop-active li div:last-child{
    margin-bottom: 10px;
}
.drop-active{
    background: #ffffff;
}
.head .badge{
    position: absolute;
    top: -10px;
    left: 37px;
}
/*Notification Bell css ends*/

/*Extra Dialouge starts here*/
#myModal ,#myModal1,#myModal3{
margin-top: 84px;
}
.fa_fa_color i {
  color: #808080;
}

/*Extra Dialouge ends here*/
.col-header-nopadding{
    padding:0;
}
#profile_image.form-control{
    height: auto;
}

.category-tab > li > a{
    padding: 0px 5px 0px 5px;
    margin-top: 0px;
}

/*.category-tab li a span:nth-child(2),.category-tab li a span:nth-child(3) {
    vertical-align: text-top !important;
}*/

/*Nav bar logo Starts*/

.nal-image ul > li:last-child{
    bottom: 0;
    display: block;
    position: absolute;
}
.nal-image ul > li > a > img {
    max-width: 100% !important;
}
.logo-bottom  a{
    bottom: 12px;
    display: block;
    position: absolute;
    margin-left: 12px;
    margin-right: 12px;

}
.nal-image  .nav > li > a {
    padding-left:0px !important;
    padding-right:0px !important;
    position: relative;
}
.counter{
    position: absolute;
    top: 12px;
    right: 36px;
}
.title_logo{
    height: 40px;
    /* width: 40px; */
    margin-top: 2px;
}
/*Nav bar logo Ends*/

/*parameter dropwon starts*/

.nal-image ul li.dropdown ul.dropdown-menu{
    /*min-width: 100%;*/
    background-color: #00a3b4;
    display: none;
    position: absolute;
    z-index:1000;
    top:25px;
    left:122px;
    border-radius:0px;
}
.nal-image .dropdown .dropdown-menu li a{
    color:#fff !important;
}
.nal-image .dropdown .dropdown-menu li:last-child{
    border-bottom:none!important;
}

.nal-image .dropdown{
    position:relative !important;
}
.nal-image .dropdown .dropdown-menu li{
    border-bottom:1px solid #fff !important;

}
.nal-image ul li ul.dropdown-menu li{
    display: block;
}
.nal-image ul ul {
    padding-top: 0px;
    border-bottom-width: 0px !important;
}
.nal-image ul ul li a{
    color:#ffffff !important;
}
.nal-image ul ul  > li:last-child {
    bottom: 0px;
    display: block;
    position: relative;
}
.nal-image ul ul   > li > a{
    padding:10px 0px !important;
}
.nal-image .dropdown::after{
    color: #fff;
    content: "\f0da";
    float: right;
    font-family: FontAwesome;
    font-size: 18px;
    font-style: normal;
    font-weight: normal;
    padding-right: 0.5em;
    position: absolute;
    right: 0px;
    top: 11px;
}

/*parameter dropwon ends*/

/*Right Sidebar Starts*/
.side-btn {
    background-color: #00a3b4;
    color: white;
    padding-bottom: 10px;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 12px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}
.text-badge span:first-child{
    font-size: 16px;
    color: #286192;
    margin-left: 14px;
    float:right;
    margin-top:24px;
}
@-moz-document url-prefix() {
    .text-badge span:last-child{
        margin-left:0px;   }
}
.text-badge span:last-child{
    font-size:17px;
    margin-left:20px;
}
.side-btn i{
    font-size:20px;
}
.left-bar .navbar-default{
    background-color:#ffffff;
    padding:10px;
    bottom: 0;
    position: relative;
    top: 0;
}
.side-btn span {
    //left: 38px;
    position: absolute;
    top: 10px;
}
.lft-con ul{
    padding:15px !important;
    padding-top: 0px !important;
}
.left-text div{
    display:inline-block;
}
.side-btn{
    margin-top:10px;
    float:left;
    margin-bottom: 3px;
}
.dropbtn:hover, .dropbtn:focus {
    background-color: #00a3b4;
}
.header-bottom{
    height: 58px;
}
/*Right Sidebar Ends*/

@media only screen and (max-width: 412px){
    .nal-image ul li.dropdown ul.dropdown-menu{
        background-color: #00a3b4;
        top: -88px;
        right: 0px;
    }
    .nal-image ul li.dropdown ul.dropdown-menu{
        left: 180px !important;
    }
}

/* REsponsive Css Starts */
@media only screen and (min-width: 320px) and (max-width: 767px){
    .nav-items-a{
        float: left;
        margin-top: -3px;
        margin-left: 20px;
        font-size: 20px !important;
        position: absolute;
    }



    h1{
       font-size: 26px !important;
   }
    #tab_default_3 .panel-heading .accordion-toggle::after{
        top: auto !important;
    }
    .drop-active{
        padding: 20px 10px 20px 10px;
       /* width: 250px;*/
    }
    .pro-bg-img{
        padding-right: 0px;
        padding-left: 0px;
    }
    .star-bookmark-b{
        right: 35px;
    }
    #accordion4  .star-bookmark-a{
        right: 6px;
    }
    .margin-30{
        margin-left: 0px !important;
        margin-right: 0px !important;
    }
    .star-bookmark-a{
        right: 10px;
    }
    .oval-2{
        height: 20px;
        line-height: 22px;
        margin-left: 0;
        margin-right: 4px;
        margin-top: 4px !important;
        width: 20px;
    }
    .tabbable-line > .nav-tabs > li {
        margin-right: 8px;
    }
    .category-tab > li > a {
        padding-bottom: 0;
        padding-left: 0;
        padding-right: 0;
        padding-top: 0;
    }
    .tabbable-line > .category-tab > li.active{
        width: 118px !important;
    }
    .tabbable-line > .nav-tabs > li {
        width: 118px !important;
    }
    .Mes-modules{
        font-size: 13px !important;
    }
    .tabbable-panel {
        padding: 5px 5px 5px 5px !important;
    }
    .tabbable-line > .nav-tabs > li:nth-child(2),.tabbable-line > .nav-tabs > li:nth-child(3){
        position: relative;
        width: 83px !important;
        height: 34px !important;
        line-height: 32px;
    }
    .tabbable-line > .nav-tabs > li.active:nth-child(2),.tabbable-line > .nav-tabs > li.active:nth-child(3) {
        position: relative;
        width: 83px !important;
        height: 34px !important;
        border-radius: 3px;
        line-height: 32px;
        background-color: #ffffff;
        box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.03);
    }
    .category-tab li a {
        line-height: 32px;
        margin-top: 0px !important;
    }
  /*  .tabbable-line > .nav-tabs > li{
        width: 100% !important;
    }*/


    .logo-bottom{
        display: none !important;
    }
    .image_class{
        margin-left: -30px;
    }
    .header-bottom {
        height: 0;
    }
    .left-bar{
        display: none !important;
    }
    .username_mon_add{
        margin-bottom: 30px;
    }
    .nal-image ul li.dropdown ul.dropdown-menu{
        background-color: #00a3b4;
        top: -88px;
        right: 0px;
    }
    .nal-image ul li.dropdown ul.dropdown-menu{
        left: 222px;
    }
    .nal-image ul li.dropdown ul.dropup-menu{
        background-color: #00a3b4;
    }
    .col-xs-offset-1{
        margin-left: 0px;
    }
    .navbar-brand{
        padding-top: 5px;
        padding-left: 5px;
    }
    .navbar-header{
        display: block;
    }
    .sidebar-head .navbar-header{
        display: block;
    }

    .navbar-btn-bg,.navbar-btn-bg:hover{
        background: #00a3b4 !important;
        color: #ffffff;
    }
    .responcive-toggle .dropbtn{
        padding: 8px 10px;
        border-radius: 5px;
    }
    .responcive-toggle{
        margin-top: 5px;
    }
    .dropdown a:hover {background-color: #00a3b4}
    .navbar-default .navbar-header{
        background: #ffffff;
    }
    .responcive-toggle .badge{
        font-size: 12px;
        left: 23px;
        position: absolute;
        top: -13px;
    }
    .navbar-inverse{
        display: none;
    }
    .responcive-toggle ul.dropdown-menu{
        right: 0px !important;
        position: absolute !important;
        left:auto;
    }
    .responcive-toggle ul.dropup-menu{
        right: 0px !important;
        position: absolute !important;
        left:auto;
    }
    .responcive-toggle{
        position: absolute;
        right: 20px;
        top: 10px;
    }
    .navbar-toggle{
        float: left;
        margin-left: 8px;
    }
    .nal-image ul{
        padding-top: 0px;
    }
    .category-tab li a span:first-child{
        display: none;
    }
    .category-tab li:first-child {
        margin-left: 0px;
    }

    *::before, *::after {
        box-sizing: border-box;
    }
    *::before, *::after {
        box-sizing: border-box;
    }
    * {
        box-sizing: border-box;
    }
    .pro-bg-img h3 {
        color: #000000;
        font-size: 20px;
        text-align: center;
    }
    .nav-tabs > li {
        float: none;
        margin-bottom: -1px;
    }
    #search_box{
        display: none;
    }
    .user{
        text-align: center;
    }
    .user img{
        width: 60px !important;
    }
    .adress div:nth-child(2){
        text-align: center;
        width: 100%;
    }
    .adress div:nth-child(3){
        text-align: center;
    }
    .title-heading{
        text-align: center;
    }
    #tab_default_1 .panel-heading{
        padding-right: 10px;
        padding-left: 10px;
    }
    .panel-heading .accordion-toggle::after,.panel-heading .accordion-toggle.collapsed::after{
        right: 3px;
    }
    .adress div h4{
        width: 100%;
    }
    .adress div:first-child{
        text-align: center !important;
        width: 100%;
        margin-top: 15px;
    }
    /* .mon-tab {
         float: left;
     }*/
    .btn_ajtr a{
        padding-left: 10px;
        padding-right: 10px;
        font-size: 11px;
    }
    .Commentaires{
        margin-left: 0px;
    }
    .mon-li li span {
        font-size: 13px;
    }
    #tab_default_3 .panel-heading .accordion-toggle::after{
        top:40px;
    }
    .resources h4{
        font-size: 20px;
    }
    .mon-li{
        text-align: center;
    }
    .mon-li li:last-child {
        float: none;
        margin-left: 0px;
        margin-top: 20px;
    }
    .Modules div:first-child{
        text-align: center;
    }
    .Modules div:last-child{
        text-align: center;
    }
    .Commentaires div:first-child{
        text-align: center;
    }
    .Commentaires div:nth-child(2){
        text-align: center;
    }
    .Modules{
        border-right-width: 0;
        margin-left: 0px;
        border-bottom: 2px solid #f5f3f3;
    }
    .username_mon_add{
        width:100%;
    }
    .tempse{
        text-align: center;
    }
    .hour{
        text-align: center;
    }
    .progress{
        margin-top: 20px;
    }
    #second-colum {
        margin-top: 9px !important;
    }


}
/*@media only screen and (width: 360px){
    .tabbable-panel {
        padding-bottom: 5px !important;
        padding-left: 30px !important;
        padding-right: 5px !important;
        padding-top: 5px !important;
    }
}*/
@media only screen and (min-width: 360px) and (max-width: 767px){
    .category-tab{
        display: inline-block;
    }
    .tabbable-line > .category-tab > li.active {
        width: 120px !important;
    }
    .tabbable-line > .nav-tabs > li {
        width: 120px !important;
    }
    .tabbable-line > .nav-tabs > li.active:nth-child(2), .tabbable-line > .nav-tabs > li.active:nth-child(3) {
        height: 34px !important;
        line-height: 32px;
        width: 90px !important;
    }
    .tabbable-line > .nav-tabs > li:nth-child(2), .tabbable-line > .nav-tabs > li:nth-child(3) {
        height: 34px !important;
        line-height: 32px;
        width: 90px !important;
    }
    .tabbable-panel{
        width: 360px;
    }
    .dropdown-content a {
        display: inherit;
        padding-bottom: 6px;
        padding-top: 6px;
    }
    .left-text{
        margin-top: 10px;
    }
    #third-colum {
        margin-top: 8px !important;
    }
    /* .tabbable-panel{
         width: 470px !important;
     }*/
}
@media only screen and (min-width: 768px) and (max-width: 991px){

    .nal-image ul li.dropdown ul.dropdown-menu{
        top: 25px;
        left: 125px;
    }
    .nal-image ul li.dropdown ul.dropup-menu{
        top: 25px;
        left: 125px;
    }
    .left-bar{
        display: none !important;
    }
    .adress div:nth-child(2){
        text-align: center;
        width: 100%;
    }
   /* .image_class{
        margin-left: -30px;
    }*/
    .adress div h4{
        width: 100%;
    }
    #search_box{
        margin-left:40px;
        margin-top: 5px;
    }
    .adress div:nth-child(3){
        text-align: center;
    }
    .adress div:first-child{
        text-align: center !important;
        width: auto;
        margin-top: 15px;
    }
    .tempse{
        text-align: center;
    }
    .hour{
        text-align: center;
    }
    .Modules div:first-child{
        text-align: center;
    }
    .Modules div:last-child{
        text-align: center;
    }
    .Commentaires div:first-child{
        text-align: center;
    }
    .Commentaires div:nth-child(2){
        text-align: center;
    }
    .Modules{
        border-right-width: 0;
        margin-left: 0px;
        border-bottom: 2px solid #f5f3f3;
    }
    .username_mon_add{
        width: 100%;
    }
    .mon-li li:last-child {
        margin-left: 0;
        margin-top: 15px;
    }
    .Commentaires{
        margin-left: 0px;
    }
    .pro-bg-img{
        padding: 50px 0px ;
    }
    .user{
        text-align: center;
    }
    .user img{
        width: 60px !important;
    }
    #header-notification{
        display: inline !important;
    }

}
@media only screen and (min-width: 992px){
    .btn_ajtr a{
        padding-left: 10px;
        padding-right: 10px;
    }
    .user img{
        width: 60px !important;
        max-width: none !important;
        margin-left: -30px;
    }
    #search_box{
        margin-left:0px;
    }
}

/*REsponsive Css Ends*/

    #header-notification{
        display: none;
    }

/* Detail page CSS Starts*/
label.error{color: #FF0000;}
.childli{
    width: 68px;
    display: inline-block;
    height: 18px;
    background: #54c1cc;
    margin-right: 0px;
    border-bottom: 3px solid rgb(251, 206, 172);
}
.childli:hover{background: #D8D8D8}
.steps .fa.fa-circle.fa-stack-2x{
    color: #B4B4B4;
}
.steps .fa.fa-circle.fa-stack-2x:hover{
    color: #d34215;
}
.steps ul{
    padding:0px;
    margin: 0px;
}
.clearfix{
    padding: 0px;
}

.input-group label{
    margin-left: 10px;
}

.stepline {
    margin-top: 15px;
}
.summary p{
    font-size: 1.5rem;
    line-height: 1.5;
    color: rgba(0,0,0,.85);
    margin-bottom: 15px;}

.containttestform .panel-default > .panel-heading {
    border-color: #00a3b4 ;
    background: #00a3b4;
    border-radius:0px;
    color: #fff;
    font-size: 18px;
    font-weight: normal;
}
.fa.fa-map-marker.fa-stack-1x.fa-inverse,.fa.fa-flag.fa-stack-1x.fa-inverse{
    border-radius: 50%;
    background:#b4b4b4;
}
.fa.fa-map-marker.fa-stack-1x.fa-inverse:hover{
    background: #00a3b4;
}
.fa.fa-flag.fa-stack-1x.fa-inverse:hover{background: #00a3b4;}
.category_name{

}
.containttestform .panel-heading{
    font-size: 16px;
    font-weight: bold;

}
.containttestform .form-horizontal .control-label{
    padding-top: 0px;
}
.containttestform .panel-default{
    border:none;
}
.containttestform .panel-body{
    background-color: #f8f8f8;
    border-color: transparent;
    padding-top: 2.5em;
}
.containttestform .form-control {
    border-radius:0px !important;

}
.addcomment .form-control {
    border-radius:0px !important;
}
.containttestform .form-control:focus{
    border-color: #00a3b4;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(118, 147, 234, 0.58);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(118, 147, 234, 0.58);
}
.form-group{font-size: 16px;}
.addcomment{margin-bottom: 0em}
.addcomment .form-control:focus{
    border-color: #00a3b4;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(118, 147, 234, 0.58);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(118, 147, 234, 0.58);
}

.btn.disabled, .btn[disabled], fieldset[disabled] .btn ,.btn.disabled{
    background-color:#00a3b4;
}
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled]
 .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus, .btn-primary[disabled].focus, fieldset[disabled]
.btn-primary.focus{
    background-color:#00a3b4 !important;
    /*background-color: #f57d23;*/
}

.addcomment .btn-primary,.containttestform .btn-primary ,.module_submit , .btn[disabled] .module_submit , .btn.disabled .module_submit, .btn-primary .module_submit{
    background-color:#00a3b4; color: #fff; border-radius: 0px; border-color:#00a3b4;border-radius: 5px; }
/*.containttestform .btn-primary:hover{background:rgba(118, 147, 234, 0.58)}*/
.containttestform .input-group label{ font-weight: 600;font-size: 16px; }
.addcomment .btn-primary:hover , .module_submit:hover{
    background-color: #f57d23;
    border-color: transparent;
}
.right {float:right;	}
.finalanswers label{margin-bottom: 20px;}
.fa.fa-check-circle.fa-lg.fa-fw{color: #2cce2e;}
.fa.fa-times-circle.fa-lg.fa-fw{color: red;}
.quizmark span{margin-right: 10px;}
.quizmark label{}
.ansoption{margin-bottom: 25px; line-height: 2;}
.youroint{text-align: right; font-size: 20px;}
.youroints .pts {color: #00a3b4;font-weight:700; font-size:20px; text-align: left; }
.ansoption p{line-height: 1.2;}

/*font Awesome http://fontawesome.io*/

/*Comment List styles*/
.comment-list .row {
    margin-bottom: 0px;
}
.comment-list .panel .panel-heading {
    padding: 4px 15px;
    position: absolute;
    border:none;
    /*Panel-heading border radius*/
    border-top-right-radius:0px;
    top: 1px;
}
.comment-list .panel .panel-heading.right {
    border-right-width: 0px;
    /*Panel-heading border radius*/
    border-top-left-radius:0px;
    right: 16px;
}
.comment-list .panel .panel-heading .panel-body {
    padding-top: 6px;
}
.comment-list figcaption {
    /*For wrapping text in thumbnail*/
    word-wrap: break-word;
}
.comment-date .fa,.comment-user .fa {color: #00a3b4}
/* Portrait tablets and medium desktops */
@media (min-width: 768px) {
/*    .comment-list .arrow:after, .comment-list .arrow:before {
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        border-style: solid;
        border-color: transparent;
    }*/
    .comment-list .panel.arrow.left:after, .comment-list .panel.arrow.left:before {
        border-left: 0;
    }
    /*****Left Arrow*****/
    /*Outline effect style*/
    .comment-list .panel.arrow.left:before {
        left: 0px;
        top: 30px;
        /*Use boarder color of panel*/
        border-right-color: inherit;
        border-width: 16px;
    }
    /*Background color effect*/
    .comment-list .panel.arrow.left:after {
        left: 1px;
        top: 31px;
        /*Change for different outline color*/
        border-width: 15px;
    }
    /*****Right Arrow*****/
    /*Outline effect style*/
    .comment-list .panel.arrow.right:before {
        right: -16px;
        top: 30px;
        /*Use boarder color of panel*/
        border-left-color: inherit;
        border-width: 16px;
    }
    /*Background color effect*/
    .comment-list .panel.arrow.right:after {
        right: -14px;
        top: 31px;
        /*Change for different outline color*/
        border-left-color: #FFFFFF;
        border-width: 15px;
    }
}
.comment-list .comment-post {
    margin-top: 6px;
}
.part-title{
    color: #00a3b4;
    font-weight: 300;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    font-size: 1.8rem;
    border-top-left-radius: 5px;
    /* border-bottom: 1px solid #00a3b4; */
    margin-bottom: 10px;
    padding: 8px;
    background-color: #f8f8f8;
    /* border-top: 3px solid #bebebe; */
    /* border-bottom-right-radius: 5px; */
}
.attachement{
    text-align: center;
}
/*Detail Page Css Ends*/

#back-to-top {
    position: fixed;
    bottom: 40px;
    right: 40px;
    z-index: 9999;
   /* width: 112px;
    height: 32px;*/
    text-align: center;
    line-height: 30px;
    background: #5e5e5e;
    color: #ffffff;
    cursor: pointer;
    border: 0;
    border-radius: 5px;
    text-decoration: none;
    transition: opacity 0.2s ease-out;
    opacity: 0;
    padding: 3px 11px;
}
#back-to-home {
    position: fixed;
    bottom: 40px;
    right: 170px;
    z-index: 9999;
   /* width: 60px;
    height: 32px;*/
    padding: 3px 11px;
    text-align: center;
    line-height: 30px;
    background: #5e5e5e;
    color: #ffffff;
    cursor: pointer;
    border: 0;
    border-radius: 5px;
    text-decoration: none;
    transition: opacity 0.2s ease-out;
    opacity: 1;
}
#back-to-top:hover {
    background: #5e5e5e;
}
#back-to-top.show {
    opacity: 1;
}
#content {
    height: 2000px;
}

.Mes-modules {
    width: 81px !important;
    height: 16px !important;
    font-size: 14px;
    text-align: left;
    color: #fff;
}
.Fill-1 {
    width: 13px !important;
    height: 13px !important;
    color: #00a3b4;
}

.tabbable-line > .nav-tabs > li.active a .Mes-modules{
    color: #00447e;
}
.tabbable-line > .nav-tabs > li.active {
    position: relative;
    width: 148px;
    height: 34px !important;
    border-radius: 3px;
    background-color: #ffffff;
    box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.03);
}
.tabbable-line > .nav-tabs > li {
    position: relative;
    width: 148px;
    height: 34px !important;
}
.tabbable-line > .nav-tabs > li:nth-child(2),.tabbable-line > .nav-tabs > li:nth-child(3){
    position: relative;
    width: 130px;
    height: 34px !important;
}
.tabbable-line > .nav-tabs > li.active:nth-child(2),.tabbable-line > .nav-tabs > li.active:nth-child(3) {
    position: relative;
    width: 130px;
    height: 34px !important;
    border-radius: 3px;
    background-color: #ffffff;
    box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.03);
}
/*

.tabbable-line > .nav-tabs > li.active > a {
    border: 0;
    color: #333333;
    border-radius: 2px;
}

.tabbable-line > .nav-tabs > li.active > a > i {
    color: #404040;
}*/

.oval-2 {
    width: 24px;
    height: 24px;
    background-color: #f67d23;
    float: right;
    border-radius: 50%;
    line-height: 27px;
    margin-top: -2px;
}
.tabbable-panel {
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 10px;
    padding-top: 5px;
}
.category-tab .Fill-1{
    color: #fff;
}
.category-tab .active .Fill-1{
    color: #00447e;
}
.category-tab > li.active > a, .category-tab > li.active > a:hover, .category-tab > li.active > a:focus{
    background-color: #fff;
    border: none !important;
    cursor: default;
}
.category-tab li:first-child a{
    margin-top: 7px;
}
.header-bottom .navbar-inverse{
    height: 58px;
}
.category-tab > li {
    float: left;
    margin-bottom: 0;
}
#accordion1 .panel-body,#accordion4 .panel-body{
    padding: 0px 15px;
}
/*
.collapse-ul li{
    padding:0px;
}*/
/*
#accordion1 .collapse-ul li{
    border-bottom: 1px solid #c5c5c5;
}*/

.collapse-ul li .row{
    border: solid 1px #e6ebf0;
    padding: 7px 0px;
    border-bottom-width: 0;
}
#side-nav-bar .navbar-fixed-side{
    width: 113px;
}
.fa-star-o {
    color: #9b9b9b;
}
.form-horizontal .control-label{
    font-weight: normal;
}
#myprofile.panel-heading{
    padding-left: 0px;
    padding-right: 0px;
}
.no-padding{
    padding: 0px;
}
.containttestform .panel-heading{
    padding: 10px;
}

/* For module data content*/

.module_data .panel-heading h2{
   color:#5583a9;
    font-size:25px;
}

.module_data .panel-body{
   /* background-color: #ffffff;*/
    border-radius: 2px;
}
#module_title{
    background-color: transparent;
    border-color: transparent;
    padding: 20px 20px 0 2px;
}
.category-title{
    font-size: 22px;
}
.back_icon{
    margin-top: 30px;
    margin-bottom: 30px;
}
.category_title h1{
    /*margin-left: 7px;*/
    /*margin-top: 10px;*/
    font-size: 38px;
    font-weight: normal;
}


.orange-cir{
      overflow-wrap: break-word;
}
.panel-title{
    font-size: 15px;
}
.Blanc get_category{
    font-size: 13px;
}

.username_mon_add{
    width: 100%;
}
#module_title h2{
    padding: 0 20px 3px 10px;
}
.resume{
    margin-left: 15px;
    font-size: 18px;
    margin-bottom: 24px;
    border-left: 3px solid orange;
    padding-left: 12px;
}


#header-nav.navbar-fixed-side{
    overflow:unset !important;
}


.col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4,
.col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1,
.col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5,
.col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12,
.col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1,
.col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9{
    position:unset;
}


.comment-arrow::after{
    color: #dddddd;
    content: "\f0d9";
    float: left;
    font-family: FontAwesome;
    font-size: 50px;
    font-style: normal;
    font-weight: normal;
    padding-right: 0.5em;
    position: relative;
    right: 33px;
    bottom: 83px;
}
.down-arrow{
    float:right;
}

/* Search page Desing*/
.search_title{
    position: relative;
}
.search_title h3{
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-text-overflow: ellipsis;
    white-space: nowrap;
}
.search_content{
    line-height: 18px;
}
.search_block{
    display: block;
    margin-bottom: 20px;
}
.search_title h3:hover {
    color: #00a3b4;
}
.left_arrow_back{
    padding-right: 10px;
}
.btn_ajtr{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: -10px;
}
.btn_ajtr a{
    padding-right: 10px;
}

/*================== CSS by DEV ==================*/

#idforremoveafter{
    display:none;
    content:none;
}

.like_category{
    margin-left: 0px;
    margin-top: 20px;
    font-size: 25px;
    padding-left: 12px;
}
.module{
    border-bottom: 2px solid #dddddd;
}
.text-badge.module {
    display: inline-block;
    width: 100%;
    padding-bottom: 6px;
    border-bottom: 1px solid #dddddd;
    line-height: 24px;
}
.most_accessed_module li{
    border-top: none;
}
/*.drop-active a li   {
    width:120%;
}
.drop-active a li div span {
    width:100%;
}
.lft-con ul {
    padding: 10px !important;
}*/
.drop-active most_accessed_module li orange-cir
{
    width:100%;
}
.most_accessed_module orange-cir i.fa{
    display:inline;
}
/*=============.most_accessed_module orange-cir clickCount=======*/
.clickCount{
    color:#00a3b4;
    width:100%;

}
.text_heading{
    display: inline;
}


.title-comment{
    padding-left:3px;
    padding-top: 20px;
}
.drop-active > a:first-child  > li , .drop-active > li:first-child > div {
    padding-top: 10px !important;
}
.orange-cir > span:first-child > a{
    padding-top: 10px !important;
}
drop-active most_accessed_module li:first-child
.drop-active a li div:first-child span{
    font-size:16px;
}

.side-btn {
    padding: 1px 10px 4px 10px;
    margin: 0;
  /*  width: 44px;*/
    height: 40px;
    text-align: center;
    line-height: 38px;
    vertical-align: middle;
    position: relative;
}
.side-btn i{
    line-height: 38px;
}
.text-badge .side-btn span {
    font-size: 15px;
    font-weight: normal;
    margin: 0px;
    width: 22px;
    height: 22px;
    line-height: 19px;
    top:-6px;
    padding: 2px 0;
}
.text-badge .title-comment {
    padding: 0 0 0 5px;
    width: 72%;
    text-align: left;
    line-height: 20px;
    font-size: 15px;
    display: inline-block;
    font-weight: 500;

}

.lft-con ul {
    padding: 10px 0 15px 0 !important;
}
.lft-con ul li {
    background: #f4f8f9 !important;
}
.lft-con ul li .md-title {
    border-bottom:1px solid #f1f1f1 ;
    padding: 5px 10px;
    text-transform: uppercase;
}
.lft-con ul li .orange-cir {
    padding: 5px 10px 0;
}
.lft-con ul li .orange-cir span {
    width: 100%;
    display: inline-block;
    font-size: 14px;
}
.lft-con ul li .orange-cir span i {
    margin-right: 2px;
}
.lft-con ul li .md-replay {
    padding: 0 10px 5px 10px;
}

.most_accessed_module li .orange-cir {
    padding: 5px 10px !important;
}


@media screen and (max-width:1300px){
    .text-badge .title-comment {
       /* width: 70%;*/
        font-size: 13px;
       /* padding-top: 10px;*/
    }

    .bell-button{
        margin-top: 20px;
    }

    .comment-title{
        line-height: 3px;
    }

    .lft-con ul li .md-title {
        font-size: 12px;
    }
    .lft-con ul li .orange-cir span, .lft-con ul li .md-replay {
        font-size: 12px;
    }
}

@media screen  and (min-width:1200px ){
    .module-title{
        padding-top: 37px;
        line-height: 40px;
    }
}

.bell-button{
   // margin-top: 34px;
}

@media screen   and (max-width:5000px){
    .module-title{
        padding-top: 30px;
        line-height: 40px;
    }
}
.module-title{
    line-height: 40px;
}


.fa-newspaper-o:before{
padding-right: 0px !important;
padding-right: 0px !important
}


/*.margin-30 .panel-default > .panel-heading {
    color: #333;
    background-color: #f5f5f5;
    border-color: #ddd;
    border: 8px solid #fff;
    border-radius: 2px;
}*/
.margin-30 .panel-default > .panel-heading {
    color: #333;
    background-color: #fff;
    border-color: #ddd;
    border-radius: 2px;
    box-shadow: 0px 1px 1px 0px #bbb9b9;
    padding: 15px;
}
.margin-30 #tab_default_1 .panel-default >  .panel-collapse >  .panel-body{
    box-shadow: 0px 1px 1px 0px #bbb9b9;
}

.category-title{
    background-color: #00A3B4;
    color: black;
    padding: 15px;
    border-radius: 5px;
}
/*
.category-title {
    background-color: #00a3b4;
    color: white;
    padding: 15px;
    border-radius: 5px;
}*/
.category-title-color{
    background-color: orange;

}
.category_title {
    color:#00a3b4;
}
.module-resource-title{
    color:#ffffff;

}
a.titletag h1{
    font-size:20px;font-weight:bold;
}

/*------------Navigation blad--------------*/
.nav-items-a{
    font-family:btp_icons;font-size: 25px;margin-bottom: 7px;color:#ffffff;
}
.dropdown-menu >li>a>i{
    padding-right: 5px
}


.dsply-non{
    display: none;
}
.profile-image{
    width: 40px;
    height: 40px;
    /*cursor: pointer;*/
    border-radius: 50%;
    margin-left: 5px;
    margin-right: 5px;
}
.user-profile{
    margin-top: 9px;
    float: right;
}
.user-profile span{
    font-weight: 600;
}
    /*---------------home-------*/
.home-profile-image{
    width: 100px !important;height: 60px;cursor: pointer;border-radius: 50%;margin-top: 0px
} .formation_active{color: gold;}
.margin-30{margin: 15px 15px 30px 15px;}
.font-icon{font-family: btp_icons;}
.i-class{margin-right: 10px;float: left;}
.cursor-pointer{cursor: pointer;color:red;}
.margin{margin-top: -14px;}
.thumb-class{padding-left:5px;padding-right:3px; }
.display-counter{display:inline-block;width:30px;height:23px;margin:0px;}
.like-div{display:inline;color:#D3D3D3;}
.comment-like{
    height:35px;
}
.img-responsive{width: 90px}
.font-normal{font-weight: normal;}
.module-detail-nav{margin:10px;margin-bottom: 24px;}
.category_name{text-align: center; height: 12px;color:#EA6212;}
.fred{border:1px solid #666CCC}
.fa-hand-o-right {
    font-size: 31px;
    padding-left: 20px;
    color: #337ab7;
    padding-top: 6px;
}
.p-right{
    padding-right:5px;
}
.my-profile-img{
    height:90px;cursor:pointer;
}
.dis-block{
    display: block;
}
.dis-block >i ,.title-heading >h3>i{
    color: #00a3b4;
}
.mar-bottom{
    margin-bottom: 60px;
}
.font-bold{
    font-weight: bold;
}
.float-left{
    float: left;
}

.moin-image{
    width: 100px;
    height: 60px;
    cursor: pointer;
    border-radius: 50%;
    margin-top: 0px;
    margin-left: -30px;
}

.category_modules .row{
    margin-right: 0px;
    margin-left: 0px;
}
.addcomment .page-header{
    margin: 10px 0 10px;
}
.actualites_cat .col-md-12{
    padding-right: 0px;
    padding-left: 0px;
}
.submit_module{
    float: right;
  margin-top: 25px;
    border-radius: 5px;
    border-color: inherit !important;
}
    /*.module_submit{
        float: right;
        margin-bottom: 20px;
    }*/
.test_form_uniq{
    float: right;
    margin-bottom: 15px;
    border-radius: 5px;
}
.test_form_uniq:hover{
    border-color: #f57d23 !important;
}
.submit_module:hover{
    /*border-color: #f57d23 !important;*/
}
#myGroup .module_data.col-md-12{
    padding-left: 0px;
    padding-right: 0px;
}
.containttestform i{
    margin-right: 10px;
}
.title_btn{
    margin-bottom: 20px;
    float: right;
}

.addcomment textarea{
    box-shadow: 0px 1px 1px 0px #bbb9b9;
}

.margin-30 #tab_default_1 .panel-group .panel-default .panel-collapse .panel-body{
    padding: 0px 15px 0px 15px;
}

#categoyu_module .col-sm-12{
    padding-right: 0px;
    padding-left: 0px;
}
#categoyu_module .margin-30{
    margin-right: 0px;
    margin-left: 0px;
}
.category_title.col-md-10{
    padding-left: 15px;
    padding-right: 0px;
}
.steps .col-md-1{
    padding-left: 0px;
    padding-right: 0px;
}
@media only screen and (max-width: 1600px){
    #second-colum{
        margin-top: 0px;
    }
    #third-colum{
        margin-top: 0px;
    }
}
.comment-title{
    margin-top: 10px;
}


.not-found h4{
    font-size: 35px;
    text-align: center;
    font-weight: 700;
}

.not-found span{
    font-size: 30px;
    text-align: center;
    font-weight: 500;
}
.remove_margin{
    margin-left:0px;
}
.remove_padding{
    padding: 7px 0px
}
.stepline_text{
    font-size:13px;
    font-weight:normal;
}


.dropup-menu > li > a:hover, .dropup-menu > li > a:focus {
    color: #262626;
    text-decoration: none;
    background-color: #00a3b4;
}
.navbar-fixed-side .navbar-nav > li > a:hover, .navbar-fixed-side .navbar-nav > li > a:focus, .navbar-fixed-side .navbar-nav .dropup-menu > li > a:hover,
 .navbar-fixed-side .navbar-nav .dropup-menu > li > a:focus{
     background-color: #33b5c3 !important;
 }
.nal-image .dropup .dropup-menu li a{
    color:#fff !important;
}
.nal-image .dropup .dropup-menu li:last-child{
    border-bottom:none!important;
}


.dropup-menu >li>a>i{
    padding-right: 5px
}

.nal-image .dropup{
    position:relative !important;
}
.nal-image .dropup .dropup-menu li{
    border-bottom:1px solid #fff !important;

}
.nal-image ul li ul.dropup-menu li{
    display: block;
}

.nal-image ul li.dropdown ul.dropup-menu{
    /*min-width: 100%;*/
    background-color: #00a3b4;
    display: none;
    position: absolute;
    z-index:1000;
    top:25px;
    left:122px;
    border-radius:0px;
}

.dropup-menu >li>a>i{
    padding-right: 5px
}

.tabbable-line > .nav-tabs > li.open .dropup-menu, .tabbable-line > .nav-tabs > li:hover .dropup-menu {
    margin-top: 0px;
}

.pagination > .active > span{
    background-color: #00a3b4;
    border-color: #00a3b4;
}
.pagination > li > a:hover, .pagination > li > span:hover, .pagination > li > a:focus, .pagination > li > span:focus {
    color: #00a3b4;

}
/********************bug resolved in IE by Hardik*/
.navbar-fixed-side#header-nav{
    overflow: visible !important;
}
.nal-image ul > li > a > img {
    max-width: 100% !important;
    width: 100%;
}
.dropdown > .customtoggle{
    z-index: 1000;
}